@use 'default';

.merch-wrap {
    max-width: 70em;
    margin: 0 auto;
    padding: var(--base-line-height);
}

.merch-collection-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--base-line-height);

    margin: var(--base-line-height) auto;
}

.merch-collection-item {
    padding: calc(var(--base-line-height) / 2);

    border: 1px solid var(--c-paper-500);

    a, a:hover {
        text-decoration: none;

        color: inherit;
    }

    .merch-collection-item-image {
        background-color: var(--c-paper-100);

        img {
            object-fit:contain;
            aspect-ratio: 1 / 1;

            width: 100%;
        }
    }

    .merch-collection-item-info {
        display: grid;
        grid-template-columns: 1fr 4rem;

        padding-top: var(--base-line-height);
    }

    .merch-collection-item-name {
        font-weight: bold;

        color: var(--c-paynes);
    }

    .merch-collection-item-price {
        text-align: right;
    }
}