@use "../mixins";

.section-bio {
	flex: 1 1 60%;

	@extend %xp-box;

	.artist-name {
		// @extend %xp-header;
		// margin: 0;
	}

	.container {
		// @extend %xp-box;
	}

	@media screen and (width<= 60rem) {
		flex-basis: 45%;
	}
}

.profile {
	--modal-header-height: var(--base-line-height);

	display: flex;
	flex-flow: row wrap;
	place-items: center;

	box-sizing: border-box;

	padding: calc(1.5 * var(--base-line-height));

	gap: 1%;

	& > * {
		box-sizing: border-box;
	}

	@media screen and (width < 40rem) {
		& > * {
			flex-basis: 100%;
		}
	}
}

.profilepic {
	display: flex;
	flex: 1 1 30%;
	place-content: center;

	@media screen and (width<= 60rem) {
		flex-basis: 45%;
	}

	.pic-wrapper {
		@extend %xp-box;
		position: relative;

		display: inline;
		flex: 0 1 content;

		box-sizing: border-box;

		.modal-body {
			padding: calc(var(--base-line-height) / 2);
		}

		figure {
			display: block;

			box-sizing: border-box;

			height: 100%;
			margin: 0;
		}

		img {
			max-width: 100%;
			max-height: 100%;
			margin: 0 auto;
		}
	}
}

section.container {
	&.gallery {
		@extend %xp-box;
		position: relative;

		width: 100%;

		height: auto;
		margin-top: var(--base-line-height);

		padding-right: 0;
		padding-left: 0;
	}
}

.bio {
	max-width: 40rem;
	margin: auto;

	padding: calc(var(--base-line-height) / 2);

	text-align: left;
}

.editions {
	display: block;

	box-sizing: border-box;
	width: 100%;

	padding: var(--base-line-height);
}

.gallery.no-scroll {
	--gallery-height: 23em;

	figure {
		width: 100%;
	}

	ul {
		margin: 0;

		list-style-type: none;
	}

	.gallery-items {
		display: flex;
		flex-flow: row wrap;
		flex-shrink: 0;
		flex-wrap: wrap;
		justify-content: center;

		width: 100%;

		height: auto;

		list-style-type: none;
		gap: 1rem;

		&::after {
			display: none;
		}

		li.gallery-item {
			display: flex;
			flex: 0 1 25%;
			flex-flow: column nowrap;

			place-content: center center;

			margin: 0;
			padding: 0;

			padding: 1rem;

			background: var(--c-paper-100);

			&::before {
				display: none;
			}

			@media screen and (width <= 50em) {
				width: 45vw;
				min-width: 300px;
			}

			figure {
				display: contents;
			}

			img {
				margin: auto;
			}
		}
	}
}

.artworks {
	position: relative;

	// margin-top: var(--base-line-height);

	.nothing {
		font-weight: bold;

		margin: var(--base-line-height) 0;

		text-align: center;

		color: var(--c-paynes-400);
	}

	.gallery-items {
		li {
			@extend %xp-box;

			&:active {
				@extend %xp-box-active;
			}

			.art-image {
				position: relative;

				max-height: 100%;

				a {
					height: 100%;
				}
			}

			.art-title {
				margin-top: var(--base-line-height);

				a {
					text-decoration: none;
				}
			}
		}
	}
}
