@use "../variables";
@use "../mixins";

// STYLESHEET FOR BLOCKS ON DEFAULT PAGES

// ACCORDION

.wrapper .accordion {
	--accordion-bg: var(--c-paper);
	--accordion-tc: var(--c-cobalt);
	--offset-height: 1.75rem;
	position: relative;

	box-sizing: border-box;
	width: 100%;

	margin-bottom: 0;

	padding: 2px 0;

	color: var(--accordion-text-color);

	& + .accordion {
		margin-top: 0;
		margin-bottom: 0;
	}

	&.last {
		margin-bottom: var(--base-line-height);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		color: var(--accordion-text-color);
	}

	.blocks .block {
		margin: auto;
	}

	section.grid {
		line-height: 1;

		position: relative;

		overflow: hidden;

		box-sizing: border-box;

		max-width: calc(
			var(--max-content-width) - calc(var(--base-line-height) * 2)
		);

		max-height: calc(var(--offset-height) + 2 * var(--base-line-height));
		margin: 0 auto;

		transition: max-height ease 100ms;

		&.active {
			max-height: calc(
				var(--section-height) + 2 * var(--base-line-height)
			);

			transition: max-height ease 100ms;

			&::after {
				transition: transform ease 200ms;
				transform: rotate(-90deg);
			}
		}

		&::after,
		&::before {
			--plus-stroke: 3px;
			position: absolute;
			top: var(--base-line-height);
			right: var(--base-line-height);

			display: block;

			width: 2em;
			height: 2em;

			content: " ";

			border-radius: var(--plus-stroke);

			background: var(--accordion-text-color);
		}

		&::after {
			right: calc(var(--base-line-height) + 1em - var(--plus-stroke) / 2);

			width: var(--plus-stroke);

			transition: transform ease 200ms;

			transform: rotate(0);
		}

		&::before {
			top: calc(var(--base-line-height) + 1em - var(--plus-stroke) / 2);

			height: var(--plus-stroke);
		}

		@media screen and (width <= 60em) {
			padding: var(--base-line-height);

			background: var(--accordion-bg);
		}

		.column {
			margin: 0;

			padding: var(--base-line-height);

			border-right: 0;
			background: var(--accordion-bg);

			@media screen and (width <= 60em) {
				margin-bottom: var(--base-line-height);
				padding: 0;

				&:last-child {
					margin: 0;
				}
			}
		}

		.block {
			margin: 0;
		}

		.block-type-heading {
			--contrast-text-color: var(--accordion-text-color);

			@extend %contrast-text;
			z-index: 99;

			display: grid;
			align-items: center;

			box-sizing: border-box;
			max-width: none;
			min-height: 2rem;
			margin-bottom: var(--base-line-height);
			margin-left: -10px;
			padding: 0 0.25rem;
			padding-right: 2rem;

			cursor: pointer;

			h1 {
				font-size: 1.75rem;
			}

			h2 {
				font-size: 1.75rem;
			}

			h3 {
				font-size: 1.75rem;
			}

			h4,
			h5,
			h6 {
				font-size: 1.5rem;
			}
		}
	}
}

// TICKER

.ticker {
	--duration: 20s;
	--ticker-font-size: 1.625rem;
	--ticker-size: 1.625rem;
	--background: var(--c-paper);
	--ticker-text: var(--c-paper);

	border-bottom: 0;

	// filter: contrast(10);

	&.bigger {
		--ticker-font-size: 2.66rem;
		--ticker-size: 3rem;
	}

	&.last {
		margin-bottom: var(--column-margins) !important;
	}

	@keyframes ticker {
		0% {
			visibility: visible;

			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(-100%, 0, 0);
		}
	}

	@keyframes ticker {
		0% {
			visibility: visible;

			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(-100%, 0, 0);
		}
	}

	@media screen and (width <= 60rem) {
		section.grid .column,
		section.grid .column:last-child {
			display: block;

			margin: 0;
			padding: 0.5em 0;
		}
	}

	section.grid {
		overflow: hidden;

		width: 100%;
		max-width: none;

		.column {
			overflow: hidden;

			box-sizing: content-box;
			width: 100%;
			height: var(--ticker-size);
			padding: calc(var(--base-line-height) / 4) 0;

			padding-left: 100%;

			background-color: var(--background);

			.blocks {
				--steps: 780;
				display: inline-block;

				box-sizing: content-box;

				height: var(--ticker-size);
				padding-right: 100%;

				animation-name: ticker;
				animation-duration: var(--duration);
				animation-timing-function: steps(var(--steps));

				animation-iteration-count: infinite;
				white-space: nowrap;

				&:hover {
					animation-play-state: paused;
				}

				a {
					color: var(--ticker-text);
				}

				& > * {
					font-family: gridlite-pe-variable, sans-serif;
					font-variation-settings: "wght" 900, "BACK" 1, "RECT" 0,
						"ELSH" 4;

					font-size: var(--ticker-font-size);
					font-weight: bold;

					line-height: var(--ticker-size);

					display: inline;

					width: auto;
					margin: 0 2em;
					padding: 0;

					text-align: left;
					text-transform: uppercase;

					color: var(--ticker-text);
				}

				// & > * {
				//     &::after {
				//         font-size: var(--ticker-size);

				//         margin: 0 calc(2 * var(--base-line-height));
				//         margin-top:2px;

				//         content: '/';
				//         vertical-align: bottom;
				//     }

				//     &:last-child::after {
				//         display:none;
				//         visibility: hidden;
				//     }
				// }
			}
		}
	}
}
