@use "home.scss";

html {
	scroll-snap-type: y mandatory;
}

.wrapper,
.layouts,
body {
	font-family: var(--secondary-font-stack);

	display: contents;
}

#snipcart {
	display: none;
}

#checkout-button {
	display: none;
}

.section-wrapper {
	scroll-snap-align: start;

	&:first-child {
		&::before,
		&::after {
			display: none;
			visibility: hidden;
		}
	}
}
