@use "../variables";
@use "default";

.artists {
	font-family: var(--secondary-font-stack);
	font-weight: 800;

	margin: 0;
	padding: 0;

	color: var(--c-cobalt);

	.artist {
		a {
			overflow: visible;

			text-decoration: none;

			color: inherit;

			&:hover {
				text-decoration: underline;
			}
		}

		&::after {
			content: ", ";
		}

		&:last-of-type {
			&::after {
				content: "";
			}
		}
	}
}

.action-bar {
	font-size: 0.7em;
	line-height:1;

	position:sticky;
	z-index:999;
	bottom:0;

	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;

	box-sizing:border-box;

	width: 100%;
	margin-bottom:var(--base-line-height);
	padding: 0 0 0 1em;

	color: var(--c-paper);

	background-color: var(--c-cobalt);

	&.mobile-only {
		display: none;
		visibility: hidden;
	}

	@media screen and (width <= 50em) {
		font-size: 0.8em;

		display:none;
		visibility: hidden;

		button, .button {
			padding:0.5em;

			&::after {
				display:none;
			}
		}

		&.mobile-only {
			position:fixed;

			display: grid;
			visibility: visible;

			margin: 0;
		}
	}

	button, .button {
		display:inline-block;

		margin:0;

		text-align: center;

		vertical-align: middle;
	}

	.action-cta {
		text-align:right;
	}

	.action-info {
		display:block;

		width: auto;

		text-align:left;
	}
}

h1.title {
	font-family: var(--secondary-font-stack);
	font-size: 1.25em;
	font-weight: 800;

	margin: 0 0 1rem;
	padding: 0;

	color: var(--c-cobalt);
}

.year {
	font-weight: 400;

	color: var(--c-paynes-400);
}

.sticker-box {
	position: absolute;
	z-index: 99;

	top: var(--nav-height);
	right: 0;

	mix-blend-mode: multiply;

	.sticker-wrapper.contrast-text {
		height: auto;

		padding: 1em;

		.sticker {
			display: flex;
			flex-direction: column;
			place-content: center;

			padding: 0.25em 0.5em;
		}

		& > * {
			font-size: 1.75rem;

			@media screen and (width <= 50em) {
				font-size: 1.5rem;

				padding:0.25em 0.5em;
			}
		}

		@media screen and (width <= 50em) {
			display: flex;
			flex-direction: row;
			justify-content: center;

			box-sizing: border-box;

			width: 100%;

			.sticker {
				margin-bottom:1rem;
			}
		}
	}

	@media screen and (width <= 50em) {
		position: relative;
		top:0;

		width: 100%;
	}
}

.sticker {
	--contrast-text-color: var(--c-cinnabar);
	line-height: 1;

	position: relative;

	top: 0;
	right: 0;

	width: auto;
	height: auto;
	margin: 0 auto;
	margin-bottom: 1em;

	word-break: keep-all;

	// margin-left: auto;

	color: transparent;

	@media screen and (width <= 60em) {
		// font-size: 1.5em;

		letter-spacing: -1px;
	}

	&.sold {
		width: auto;

		animation: none;
	}

	&.push {
		--tag-background-color: var(--c-cobalt-400);
		animation: button 0.75s linear;

		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-fill-mode: both;

		@media screen and (width <= 60em) {
			animation: none;
		}
	}

	&:hover {
		// transform: scale(1.5);
		// transform-origin: top right;
	}

	a {
		font-weight: bold;
		line-height: 1;

		text-decoration: none;

		color: transparent;
	}
}

@keyframes button {
	from {
		transform: scale(100%) skewX(15deg) rotate(15deg);
	}

	to {
		transform: scale(115%) skewX(15deg) rotate(15deg);
	}
}

.availability {
	&.sold {
		--background: var(--c-cinnabar);
		--contrast-text-color: var(--c-gold);
		margin-right: 0;
		margin-left: auto;
	}

	&.new {
		--background: var(--c-gold);
	}
}

.artwork {
	.description {
		position: sticky;
		z-index: 0;
		top: var(--nav-height);

		display: block;
		overflow: scroll;

		box-sizing: border-box;

		width: 100%;
		height: 100%;

		@media screen and (width <= 60em) {
			position: relative;

			top:0;

			overflow:visible;

			width: 100%;
			max-width: none;
			height: auto;
			padding:0;
		}

		span.text-wrap {
			background: var(--c-paper);
		}
	}

	.text-block + .text-block {
		margin-top: var(--base-line-height);
	}

	.text-block {
		span {
			background: var(--c-paper);
		}
	}
}

.secondary-info {
	display: grid;
	grid-template-columns: 21rem 1fr;

	margin:0 5%;
	gap: 1em;

	@media screen and (width <=70em) {
		grid-template-columns: 14rem 1fr;
	}
	
	@media screen and (width <=60em) {
		grid-template-columns: 2fr 3fr;

		margin: 0 1%;
	}
	
	@media screen and (width <=50em) {
		grid-template-columns: 1fr;
	}
}

.title-card-wrapper {
	.overlay.modal-opened {
		position: sticky;

		z-index:0;
		top: calc(var(--nav-height) + 5%);
		left:0;

		width: auto;
		
		height: auto;
		max-height: none;
	
		transform:none;
	
		@media screen and (width <=60em) {
			position: relative;
			top:0;
			left:0;

			width: 100%;
			height:auto;
			max-height:none;
		}
	}
}

.title-card-footer {
	.buttons {
		button, .button {
			box-sizing: border-box;
			width:100%;

			text-align: left;
		}
	}
}

.title-card {
	position: sticky;
	z-index: 99;
	top: var(--nav-height);
	left: 0;

	padding: calc(var(--base-line-height) / 2);

	text-align: left;
	
	@media screen and (width <=50em) {
		position: relative;
		top: auto;
		bottom: 0;

		max-height:none;

		padding: 1rem;
	}
}

.image-gallery.overlay.modal-opened {
	position:relative;
	z-index: 0;
	top: 0;
	left:0;

	width: auto;
	height:auto;
	max-height: none;
	margin:0;

	transform:none;

	.modal-body {
		height:auto;
		max-height:none;
	}

	ul {
		margin: 0;

		list-style-type: none;

		li {
			margin: calc(var(--base-line-height) / 2);
			padding: 0;

			text-align: center;

			border: 0;

			img {
				display: inline-block;

				width: auto;
				max-height: 85vh;
			}

			&::before {
				display: none;
			}
		}
	}
}

.primary-image {
	position: relative;
	z-index: 99;

	box-sizing: border-box;
	width: 100%;
	min-height:100dvh;
	padding:var(--base-line-height);
	padding-top:0;

	text-align: center;

	// background:var(--c-paper);

	img {
		display: inline-block;

		width: auto;
		max-height: 85vh;
		margin: auto;
	}

	@media screen and (width <= 50em) {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;

		min-height:100dvh;
		padding:0 0 4em;
	}
}

span.text-wrap {
	background: var(--c-paper);
}

.block-type-bio {
	img {
		float: left;

		max-width: 50%;
		object-fit: contain;

		height: calc(8 * var(--base-line-height));
		padding-right: var(--base-line-height);

		@media screen and (width <= 35em) {
			display:block;
			float:none;

			width: auto;
			max-width:15em;
			height: auto;

			margin: 0 auto;
			
		}
	}
}