*vendor
*content
archive
dev/build/assets/loop_3.mp4
dev/build/assets/static-gb.mp4
dev/build/assets/static-on-television-screen-extreme-close-up-4k-SBV-301838449-preview.mp4
dev/build/assets/tv-static-on-old-television-set-4k-SBV-301838454-preview.mp4
dev/source/assets/loop_3.mp4
dev/source/assets/static-gb-1.mp4
dev/source/assets/static-gb.mp4

*kirby/*
*kirby
shared-assets
dev/_notes.txt

live

.htpasswd

