@use 'variables';
@use 'mixins';

label {
    display:inline-block;

    width: 100%;

    margin-top: calc(var(--base-line-height) / 2);

    & + input {
        margin-top:0;
    }
}

.web-honey {
    position: absolute;
    left: -9999px;
}

input {
    display: inline-block;

    box-sizing: border-box;

    width: 100%;
    margin: calc(var(--base-line-height) / 2) 0;
}

abbr[title="required"] {
    font-weight: bold;

    text-decoration: none;

    color: var(--c-cinnabar);
    border:none;
    outline: none;
}

textarea {
    width:100%;
    height: auto;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="datetime"],
textarea {
    box-sizing: border-box;
    padding: 0.3em 0.375em;

    border: 2px solid var(--c-paper-400);
    background: white;
}


a.button,
button,
input[type="submit"],
input[type="button"] {
    font-weight: 800;

    position: relative;
    z-index:9;

    display: block;

    width: auto;

    margin: calc(var(--base-line-height) / 2) auto;
    padding: 0.5em 1em;

    cursor: pointer;
    transition: 200ms ease;

    text-decoration: none;

    color: var(--c-paper);
    border: 0;

    border-radius: 50%;

    outline: 0;
    background: none;
    background: var(--c-cobalt);
    box-shadow: 0 0 1px 1px var(--c-cobalt), 0 0 3px 3px var(--c-benibana);
    appearance: none;

    &:hover {
        transition: 200ms ease;

        color: var(--c-cobalt-300);
        box-shadow: 0 0 1px 1px var(--c-cobalt), 0 0 4px 6px var(--c-benibana);
    }
}

fieldset {
    padding: calc(var(--base-line-height) / 2) 0;

    border: 0;
}

.email {
    fieldset {
        display: grid;
        grid-template-columns: 1fr 6.5em;
    }
}

.message, .alert {
    width: 75%;
    margin: var(--base-line-height) auto;
    padding: 1em;

    color: var(--c-paper-100);

    // text-align: center;
    border:2px solid var(--c-vert-100);
    border-radius: var(--input-radius);

    &.success {
        background: var(--c-vert-300);
    }

    &.error {
        background: var(--c-cinnabar);
    }
}