%contrast-text { // THIS IS FOR A PARENT CONTAINER OF WHATEVER TEXT YOU WANT CONTRASTED
    --contrast-text-color: var(--c-vert-600);
    --contrast-shadow-color: var(--c-benibana-600);

    text-wrap: balance;

    background:var(--c-paper);
    mix-blend-mode: multiply;
    filter: contrast(30);

    & * {
        position: relative;

        letter-spacing: -3px;

        color: transparent;

        text-shadow: 0 0 0.07em var(--contrast-text-color);

        &[data-text] {
            &::after {
                font-style: normal;
    
                position:absolute;
                z-index: -1;
                top:0;
                left:0;
    
                width: 100%;
    
                content: attr(data-text);
    
                text-shadow: 0 0 0.08em var(--contrast-shadow-color);
                
            }
        }
        
        @media screen and (width <= 40em) {
            font-size: 3em;

            letter-spacing: -3px;
        }
    }

    & > * {
        font-size: 4rem;
        font-weight: bold;
        font-style:italic;
        line-height: 1.125;

        position: relative;

        width: 100%;
    }
}

.contrast-text {
    @extend %contrast-text;
}