@use "nw-type" as t with (

// Font Family
$font-family: ("neue-haas-grotesk-text", sans-serif),
$font-mono: (courier new, courier, mono),

// Base ratios
$typescale: 1,

// Base Font for HTML
$base-font-size: 20px,
$base-line-height: 1.5,

// Header Styles
$header-line-height: 1.5,

// Paragraph Styles
$paragraph-size: 1rem,
$paragraph-line-height: default,
$paragraph-margin: default,

// hr
$hr-margin: default,

// Type Misc
$font-weight-bold: 700,

);
@forward "nw-type";

:root {
    --em-line-height: 1.5em;
    --base-line-height: 30px;

    // fonts
    --secondary-font-stack:"neue-haas-grotesk-display", sans-serif;
}

html, body {
    font-size: var(--base-font-size);
}