$benibana: rgb(255 153 161);
$cinnabar: rgb(184 43 43);
$cobalt: rgb(26 75 213);
$cobalt-light: rgb(115 180 219);
$paper: #f6f0e6;
$paynes: #4e5147;
$mars: #0f0506;

:root {
	// COLORS!
	--c-benibana: #{$benibana};
	--c-cobalt: #{$cobalt};
	--c-cobalt-light: #{$cobalt-light};
	--c-cinnabar: #{$cinnabar};
	--c-paper: #{$paper};
	--c-paynes: #{$paynes};
	--c-mars: #{$mars};
	
	// EXTENDED COLORS
	--border-color: var(--c-cobalt);
	--text-color: var(--c-cobalt);

    // fonts
    --secondary-font-stack: 'matrix-ii', serif;

	// nav
	--nav-height: calc(var(--base-line-height) * 2);
}