@use "nw-type" as t with (

// Font Family
$font-family: (cofo-gothic-variable, sans-serif),
$font-mono: (courier new, courier, mono),

// Base ratios
$typescale: 1,

// Base Font for HTML
$base-font-size: 18px,
$base-line-height: 1.5,

// Paragraph Styles
$paragraph-size: 1rem,
$paragraph-line-height: default,
$paragraph-margin: default,

// hr
$hr-margin: default,

// Type Misc
$font-weight-bold: 800,

);

:root {
    --em-line-height: 1.5em;
    --base-line-height: 27px;

    // fonts
    --secondary-font-stack: var(--primary-font-family);
}

// h1, h2, h3, h4, h5, h6 {
//     font-weight: 300;
//     line-height: 1;
// }

html, body {
    font-size: var(--base-font-size);
}