@use "nw-type" as t with (

// Font Family
$font-family: ('roc-grotesk', sans-serif),
$font-mono: (courier new, courier, mono),

// Base ratios
$typescale: 1.25,

// Base Font for HTML
$base-font-size: 18px,

// Paragraph Styles
$paragraph-size: 1rem,
$paragraph-line-height: default,
$paragraph-margin: default,

// hr
$hr-margin: default,

// Type Misc
$font-weight-bold: 700,

);

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1;
}

html, body {
    --base-line-height: 28px;
}