%contrast-text { // THIS IS FOR A PARENT CONTAINER OF WHATEVER TEXT YOU WANT CONTRASTED
    --contrast-text-color: var(--c-cobalt);
    --contrast-shadow-color: var(--c-benibana-600);

    font-family: var(--secondary-font-stack);

    background:var(--c-paper);
    mix-blend-mode: multiply;
    filter: contrast(30);

    & * {
        position: relative;

        box-sizing: border-box;

        padding: 0.1em 0;

        padding-left:0.25rem;

        letter-spacing:-1px;

        color: transparent;
        text-shadow: 0 0 0.05em var(--contrast-text-color);
    }

    & > * {
        font-size: 4rem;
        font-weight:700;
        font-style:normal;
        line-height: 1;

        position: relative;

        width: 100%;
        
        @media screen and (width <= 40em) {
            font-size: 2.5em;

            letter-spacing: 0;

            hyphens:none;
        }
    }
}

.contrast-text {
    @extend %contrast-text;
}