@use 'sass:color';

$benibana: #ff99a1;
$cinnabar: #b82b2b;
$cobalt: blue;
$cobalt-light: #73b4db;
$paper: #e5e1de;
$paynes: #4e5147;
$violet: #4c12a8;
$gold: #fcdf39;
$vert: green;

:root {
	--input-radius: 5px;

	// COLORS!
	--c-benibana: #{$benibana};
	--c-benibana-100: #{color.adjust($benibana, $lightness: 17%)};
	--c-benibana-200: #{color.adjust($benibana, $lightness: 15%)};
	--c-benibana-300: #{color.adjust($benibana, $lightness: 10%)};
	--c-benibana-400: #{color.adjust($benibana, $lightness: 5%)};
	--c-benibana-500: #{$benibana};
	--c-benibana-600: #{color.adjust($benibana, $lightness: -5%)};
	--c-benibana-700: #{color.adjust($benibana, $lightness: -10%)};
	--c-benibana-800: #{color.adjust($benibana, $lightness: -15%)};
	--c-benibana-900: #{color.adjust($benibana, $lightness: -20%)};
	--c-gold: #{$gold};
	--c-gold-100: #{color.adjust($gold, $lightness: 17%)};
	--c-gold-200: #{color.adjust($gold, $lightness: 15%)};
	--c-gold-300: #{color.adjust($gold, $lightness: 10%)};
	--c-gold-400: #{color.adjust($gold, $lightness: 5%)};
	--c-gold-500: #{$gold};
	--c-gold-600: #{color.adjust($gold, $lightness: -5%)};
	--c-gold-700: #{color.adjust($gold, $lightness: -10%)};
	--c-gold-800: #{color.adjust($gold, $lightness: -15%)};
	--c-gold-900: #{color.adjust($gold, $lightness: -20%)};
	--c-cobalt: #{$cobalt};
	--c-cobalt-100: #{color.adjust($cobalt, $lightness: 40%)};
	--c-cobalt-200: #{color.adjust($cobalt, $lightness: 30%)};
	--c-cobalt-300: #{color.adjust($cobalt, $lightness: 20%)};
	--c-cobalt-400: #{color.adjust($cobalt, $lightness: 10%)};
	--c-cobalt-500: #{$cobalt};
	--c-cobalt-600: #{color.adjust($cobalt, $lightness: -10%)};
	--c-cobalt-700: #{color.adjust($cobalt, $lightness: -20%)};
	--c-cobalt-800: #{color.adjust($cobalt, $lightness: -30%)};
	--c-cobalt-900: #{color.adjust($cobalt, $lightness: -40%)};
	--c-cobalt-light: #{$cobalt-light};
	--c-cinnabar: #{$cinnabar};
	--c-cinnabar-100: #{color.adjust($cinnabar, $lightness: 40%)};
	--c-cinnabar-200: #{color.adjust($cinnabar, $lightness: 30%)};
	--c-cinnabar-300: #{color.adjust($cinnabar, $lightness: 20%)};
	--c-cinnabar-400: #{color.adjust($cinnabar, $lightness: 10%)};
	--c-cinnabar-500: #{$cinnabar};
	--c-cinnabar-600: #{color.adjust($cinnabar, $lightness: -10%)};
	--c-cinnabar-700: #{color.adjust($cinnabar, $lightness: -20%)};
	--c-cinnabar-800: #{color.adjust($cinnabar, $lightness: -30%)};
	--c-cinnabar-900: #{color.adjust($cinnabar, $lightness: -40%)};
	--c-paper: #{$paper};
	--c-paper-100: #{color.adjust($paper, $lightness: 4%)};
	--c-paper-200: #{color.adjust($paper, $lightness: 3%)};
	--c-paper-300: #{$paper};
	--c-paper-400: #{color.adjust($paper, $lightness: -4%)};
	--c-paper-500: #{color.adjust($paper, $lightness: -8%)};
	--c-paper-600: #{color.adjust($paper, $lightness: -12%)};
	--c-paper-700: #{color.adjust($paper, $lightness: -16%)};
	--c-paper-800: #{color.adjust($paper, $lightness: -20%)};
	--c-paper-900: #{color.adjust($paper, $lightness: -24%)};
	--c-paynes: #{$paynes};
	--c-paynes-100: #{color.adjust($paynes, $lightness: 40%)};
	--c-paynes-200: #{color.adjust($paynes, $lightness: 30%)};
	--c-paynes-300: #{color.adjust($paynes, $lightness: 20%)};
	--c-paynes-400: #{color.adjust($paynes, $lightness: 10%)};
	--c-paynes-500: #{$paynes};
	--c-paynes-600: #{color.adjust($paynes, $lightness: -10%)};
	--c-paynes-700: #{color.adjust($paynes, $lightness: -20%)};
	--c-paynes-800: #{color.adjust($paynes, $lightness: -30%)};
	--c-paynes-900: #{color.adjust($paynes, $lightness: -40%)};
	--c-violet: #{$violet};
	--c-violet-100: #{color.adjust($violet, $lightness: 40%)};
	--c-violet-200: #{color.adjust($violet, $lightness: 30%)};
	--c-violet-300: #{color.adjust($violet, $lightness: 20%)};
	--c-violet-400: #{color.adjust($violet, $lightness: 10%)};
	--c-violet-500: #{$violet};
	--c-violet-600: #{color.adjust($violet, $lightness: -10%)};
	--c-violet-700: #{color.adjust($violet, $lightness: -20%)};
	--c-violet-800: #{color.adjust($violet, $lightness: -30%)};
	--c-violet-900: #{color.adjust($violet, $lightness: -40%)};
	--c-vert: #{$vert};
	--c-vert-100: #{color.adjust($vert, $lightness: 17%)};
	--c-vert-200: #{color.adjust($vert, $lightness: 15%)};
	--c-vert-300: #{color.adjust($vert, $lightness: 10%)};
	--c-vert-400: #{color.adjust($vert, $lightness: 5%)};
	--c-vert-500: #{$vert};
	--c-vert-600: #{color.adjust($vert, $lightness: -5%)};
	--c-vert-700: #{color.adjust($vert, $lightness: -10%)};
	--c-vert-800: #{color.adjust($vert, $lightness: -15%)};
	--c-vert-900: #{color.adjust($vert, $lightness: -20%)};
	
	// EXTENDED COLORS
	--border-color: var(--c-cobalt);
	--text-color: var(--c-cobalt);

	// nav
	--nav-height: calc(var(--base-line-height) * 2);
}