/* stylelint-disable selector-class-pattern */
@use 'variables';
@use 'mixins';

label {
    display:inline-block;

    width: 100%;

    margin-top: calc(var(--base-line-height) / 2);

    & + input {
        margin-top:0;
    }
}

.web-honey {
    position: absolute;
    left: -9999px;
}

.turnstile {
    display: grid;
    grid-template: 1fr;
    align-items: center;
    justify-content: center;
}

input {
    display: inline-block;

    box-sizing: border-box;

    width: 100%;
    margin: calc(var(--base-line-height) / 2) 0;
}

abbr[title="required"] {
    font-weight: bold;

    text-decoration: none;

    color: var(--c-cinnabar);
    border:none;
    outline: none;
}

textarea {
    width:100%;
    max-width: 100%;
    height: auto;
    min-height: calc(var(--base-line-height) * 4);
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="datetime"],
textarea,
%inputs {
    font-weight: normal;

    position:relative;

    box-sizing: border-box;
    padding: 0.3em 0.375em;

    transition: 200ms ease;

    color: var(--c-paynes);

    border: 2px solid var(--c-paper-400);
    background: white;

    &.error {
        transition: 200ms ease;

        background: var(--c-benibana-200);
    }

    &:disabled {
        transition: 200ms ease;

        background: var(--c-paper-500);
    }

    &::after {
        font-size: 1.5em;

        position: absolute;

        top: 0.5em;
        right: 0.5em;
    }
}

input[type="checkbox"],
input[type="radio"] {
    @extend %inputs;
    line-height: 1em;

    display: inline-block;

    width: 1em;
    height: 1em;

    margin:0 0.5em 0 0;

    appearance: none;

    & ~ label {
        line-height: 1em;

        display: inline;

        margin:0;
    }

    &:checked {
        border:0;
        background: var(--c-cobalt);

        &::after {
            /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
            font-family: microns;

            font-size: 1.5em;

            position: absolute;
            top:0.025em;
            left:0;

            content: '\E718';

            color: white;
        }
    }
}

select {
    @extend %inputs;
    appearance: none;

    width: 100%;

    &::after {
        /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
        font-family: microns;

        content: '\e711';
    }
}


a.button,
button,
input[type="submit"],
input[type="button"] {
    --button-bg1: var(--c-cobalt);
    --button-bg2: var(--c-benibana);
    --button-color: var(--c-paper);
    --button-border: transparent;

    font-weight: 800;

    position: relative;
    z-index:9;

    display: block;
    overflow: hidden;

    width: auto;

    margin: calc(var(--base-line-height) / 2) auto;
    padding: 0.5em 2em 0.5em 1em;

    cursor: pointer;
    transition: 500ms ease;

    text-decoration: none;

    color: var(--button-color);
    border: 1px solid var(--button-border);

    border-radius: 5px;

    outline: 0;
    appearance: none;

    &::before {
        position: absolute;
        z-index: -1;
        top:0;
        left:-200%;

        width: 300%;
        height:100%;

        content: ' ';
        transition: 400ms ease-in;

        background: linear-gradient(-90deg, var(--button-bg1) 0, var(--button-bg1) 40%, var(--button-bg2) 60%);

    }

    &::after {
        /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
        font-family:microns;
        font-size: 1em;

        position: absolute;
        top:50%;
        right:0.5em;

        content:'\e701';

        transform: translateY(-50%);
    }

    &:disabled {
        --button-bg1: var(--c-paper-500);
        --button-color: var(--c-paynes);
        --button-bg2: var(--c-paper-500);
        cursor:not-allowed;
        pointer-events: none;

        box-shadow:none;

        &:hover {
            --button-color: var(--c-paynes);
            pointer-events: none;

            border:none;
            box-shadow: inherit;
        }
    }

    &:hover {
        --button-border: var(--c-benibana-400);
        --button-color: var(--c-cobalt);
        transition: 500ms ease;

        box-shadow: 0 4px 10px 2px var(--c-paper-900);

        &::before {
            left: 0;

            transition: 300ms ease-out;
        }
    }
}

fieldset {
    padding: calc(var(--base-line-height) / 2) 0;

    border: 0;
}

.email {
    fieldset {
        display: grid;
        grid-template-columns: 1fr;

        input[type="text"],
        input[type="email"] {
            margin:0;
        }
    }
}

.home {
    .email {
        fieldset {
            display: grid;
            grid-template-columns: 1fr 6.5em;
        }
    }
}

.message, .alert {
    position:relative;
    z-index: 9;

    box-sizing: border-box;

    width: 100%;

    height:0;
    margin: var(--base-line-height) auto;
    padding: 0.5em 1em;

    transition: 300ms ease;

    color: var(--c-paper-100);
    border: 2px solid transparent;
    border-radius: var(--input-radius);

    &.success {
        height: auto;

        transition: 300ms ease;

        border:2px solid var(--c-vert-100);
        background: var(--c-vert-300);
    }

    &.error {
        height: auto;

        transition: 300ms ease;

        border:2px solid var(--c-cinnabar-300);
        background: var(--c-cinnabar);
    }
}

.submitted {
    height: 0;

    transition: 300ms ease;

    opacity: 0;
}

form {
    position:relative;

    transition: opacity 300ms ease;

    opacity: 1;
}

.uniform__potty {
    position: absolute;
    left: -9999px;
}


// INQUIRY FORM

#inquire, #close-inquire {
    cursor: pointer;
}

#inquire-form {
    position: fixed;
    z-index:9999;
    top:0;
    right:-50vw;

    overflow: auto;

    width: calc(50vw - 2px);
    height:100vh;

    transition: right 250ms ease;

    border-left: 2px solid var(--c-paper-500);

    background: var(--c-paper-300);

    .card {
        margin-top: var(--base-line-height);
        padding: 1em;

        color: var(--c-paynes);
        border: 2px solid var(--c-paper-500);
        background: var(--c-paper-100);

        .card-image {
            width: 100%;

            text-align: center;

            figure {
                display: inline-block;
            }

            img {
                width: auto;
                height: auto;
                max-height: 50vh;
            }
        }

        @media screen and (width <= 60em) and (width >= 35em) {
            display: flex;
            flex-direction: row;
            gap: 1em;

            .card-image {
                flex-grow:0;
                flex-shrink:1;

                width: auto;

                figure {
                    margin-bottom:0;
                }
            }

            .card-info {
                flex-grow: 1;
                flex-shrink:0;

                min-width: 50%;
            }
        }
    }

    @media screen and (width <= 60em) {
        top: var(--nav-height);
        right:-100vw;

        width: 100vw;
        height:calc(100vh - var(--nav-height));
    }
}

.inquire-wrapper {
    position: relative;

    padding: calc(var(--base-line-height) / 2) var(--base-line-height) var(--base-line-height);
}

#close-inquire {
    position: absolute;
    top: calc(var(--base-line-height) / 2);
    right: var(--base-line-height);

    display: block;

    width: var(--base-line-height);
    height: var(--base-line-height);

    &::before, &::after {
        position: absolute;
        top:calc(50% - 1px);

        display: block;

        width: 100%;
        height:2px;

        content:' ';

        background: var(--c-paynes);
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

body {
    max-width:100vw;

    transition: max-width 250ms ease;
}

.snipcart-cart--opened body {
    max-width: 33vw;

    transition: max-width 250ms ease;

    @media screen and (width <= 60em) {
        max-width:100vw;
    }
}

.inquire-active {
    max-width: 50vw;

    transition: max-width 250ms ease;

    @media screen and (width <= 60em) {
        max-width:100vw;
    }
}

.snipcart-cart--opened #snipcart,
.inquire-active #inquire-form {
    z-index:9999999;
    right:0;

    transition: right 250ms ease;
}

/** SNIP CART FORM ELEMENTS **/

.snipcart-textbox {
    @extend %inputs;

    input {
        margin:0;
        padding:0;

        border:0;
        background: transparent;
        appearance: none;
    }
}

ul.snipcart-typeahead__suggestions {
    font-size: 0.8em;

    position: absolute;
    z-index: 99999;
    top: 100%;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style-type: none;

    background: white;
    box-shadow: 0 6px 6px 0 var(--c-paper-800);

    li {
        font-weight: normal;

        padding: 0.75em 0.5em;

        cursor: pointer;

        color: var(--c-paynes);
        border-bottom: 1px solid var(--c-paper);

        &:hover {
            background: var(--c-paper-100);
        }
    }

    .snipcart-typeahead__suggestion--secondary {
        font-size: 0.8em;
        font-weight: bold;

        padding: 0 0.5em;

        text-transform: uppercase;
    }

    img {
        width: 5em;
        height: auto;
        margin:0;
    }
}

[class^="snipcart-form"] {
    position: relative;

    .snipcart__icon {
        position: absolute;
        z-index:999;
        top: calc(50% - 1em);
        right: 0.5em;

        width: 2em;
        height: 2em;
    }

    .snipcart__notice__icon {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
    }
}

.snipcart-checkout-step__col {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-gap:1em;

    margin-top: 1em;
}

.snipcart-field-error {
    font-size: 0.7em;
    font-weight: bold;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: var(--c-cinnabar);
}