/* stylelint-disable selector-class-pattern */
@use 'mixins';

.inquire-active,
.overlay-active {
    overflow-y:hidden;
}

.overlay, #snipcart {
    --modal-header-height: var(--base-line-height);
    --modal-width:36vw;
    --modal-max-height: 80svh;

    box-sizing: border-box;

    box-shadow: 0 5px 16px -8px var(--c-paynes);
}

.overlay {
    @extend %xp-box;
    position: fixed;
    z-index:99999999;

    top: 50%;
    left:50%;

    box-sizing: border-box;

    width: var(--modal-width);
    min-height: calc(3 * var(--base-line-height));
    max-height: var(--modal-max-height);

    padding: 0;
    
    transition: transform 500ms ease, opacity 3000ms ease 400ms;

    transform:translate(-50%, -50%) scale(0%);

    opacity: 0;

    background: var(--c-paper-500);

    @media screen and (width <= 60em) {
        --modal-header-height: calc(var(--base-line-height) * 1.5);
    }

    @media screen and (width <= 60em) and (width >= 35em) {
        --modal-width: 90vw;
        --modal-max-height:90dvh;
    }

    @media screen and (width < 35em) {
        --modal-width: 100vw;
        --modal-max-height:100dvh;
    }
}

.overlay.modal-opened,
.inquire-active #inquire-form {
	transition: transform 300ms ease, opacity 100ms ease;

    transform:translate(-50%, -50%) scale(100%);

    opacity: 1;

    background: var(--c-paper-300);
}

.modal-header {
    font-size: 0.7rem;

    position: sticky;
    z-index:99;
    top:0;

    display: block;

    box-sizing: border-box;

    width: 100%;

    height: var(--modal-header-height);

    padding: 0 var(--base-line-height);

    color: var(--c-paper);
    background: var(--c-cobalt);

    h2, h3, h4, h5 {
        font-size: 0.8rem;
        line-height: var(--modal-header-height);

        color: var(--c-paper);
    }
}

.modal-close {
    line-height: var(--modal-header-height);

    position: absolute;
    top: 0;
    right: 0;

    display: block;
    overflow:visible;

    box-sizing: border-box;

    width: var(--modal-header-height);
    height: var(--modal-header-height);
    margin:0;

    padding:0;
    
    content:'';

    &::after {
        font-family:microns, sans-serif;

        left:0;

        display: block;

        width: 100%;

        content: '\E741';
        text-align:center;
    }
}

.modal-body {
    position:relative;

    display: block;
    overflow-y: scroll;

    box-sizing: border-box;
    width: 100%;
    height:100%;

    max-height: calc(var(--modal-max-height) - var(--modal-header-height) - 4px);

    @media screen and (width < 35em) {
        max-height: calc(100svh - var(--modal-header-height));
    }
    
    .modal-body-wrapper {
        padding: 1rem;
    }
}

.button-set {
    position: absolute;
    top:0;
    right: var(--modal-header-height);

    display:none;
    visibility: hidden;

    height: var(--modal-header-height);

    text-align: right;

    button {
        line-height: var(--modal-header-height);

        position: relative;

        width: var(--modal-header-height);
        height: var(--modal-header-height);

        margin:0;

        padding:0;

        text-align:center;

        &::after {
            right:0;
            left:0;

            text-align: center;
        }

        &.left {
            &::after {
                content: '\E704';
            }
        }

        &.right {
            &::after {
                content: '\E705';
            }
        }
    }
}

#gallery-overlay {
    --modal-width: 100vw;
    --modal-max-height: 100svh;

    max-width: 100vw;
    height: var(--modal-max-height);

    .modal-body {
        display: flex;
        flex-direction: column;
        place-content: center;

        height: 100%;

        background: var(--c-paynes);
    }

    figure {
        display: block;

        flex: 0 1 auto;

        width: auto;

        height: auto;
        margin: 0 auto;

        img {
            display:block;

            margin:auto;
        }
    }

    .button-set {
        display: flex;
        visibility: visible;
        flex: 0 0 auto;
        flex-direction: row;
        gap:0;
    }
}

#cc-main {
    /** Change font **/
    --cc-font-family: var(--primary-font-stack);

    /** Change button primary color to black **/
    --cc-btn-primary-bg: var(--c-paper-700);
    --cc-btn-primary-border-color: var(--c-paper-500);
    --cc-btn-primary-hover-bg: var(--c-paper-700);
    --cc-btn-primary-hover-border-color: var(--c-paper-500);

    /** SEPARATOR **/
    --cc-separator-border-color: var(--c-paper-900);

    /** Also make toggles the same color as the button **/
    --cc-toggle-on-bg: var(--cc-btn-primary-bg);

    /** Make the buttons a bit rounder **/
    --cc-btn-border-radius: 0;
    --cc-cookie-category-block-bg: var(--c-paper-400);
    --cc-cookie-category-block-hover-bg: var(--c-paper-300);
    --cc-cookie-category-block-border: var(--c-paper-500);
    --cc-cookie-category-block-hover-border: var(--c-paper-400);
    --cc-cookie-category-expanded-block-hover-bg: var(--c-paper-200);
    --cc-toggle-readonly-bg: var(--c-paper-100);
    --cc-toggle-off-bg: var(--c-paynes-400);

    font-size: 1rem !important;

    .cm, .pm {
        @extend %xp-box;
        color: var(--c-paynes-700);

        label {
            margin:0;
        }
    }

    .cm__desc, .pm__section-desc {
        color: var(--c-paynes-700);
    }

    .cm__btns {
        border-top: 2px inset var(--c-paper-500);
    }

    .cm__btn, .pm__btn {
        @extend %xp-box;
        color: var(--c-paynes-700);
        border-color: var(--c-paper-300);
        background-color: var(--c-paper-700);

        &.cm__btn--secondary, &.pm__btn--secondary {
            border-color: var(--c-paper-300);
            background-color: var(--c-paper-400);

            &:hover {
                border-color: var(--c-paper-300);
                background-color: var(--c-paper-400);
            }
        }

        &:hover {
            color: var(--c-paynes-700);
            border-color: var(--c-paper-300);
            background-color: var(--c-paper-700);
        }
    }

    .pm__close-btn {
        @extend %xp-box;

        width: var(--base-line-height);
        height: var(--base-line-height);

        &:hover {
            background: var();
        }
    }

    .pm__header {
        font-size: var(--base-font-size);

        height: var(--base-line-height);
        padding-top:0!important;
        padding-right:0!important;
        padding-bottom:0!important;

        color: white;

        background: var(--c-cobalt);
    }
}