.default-content {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  .profile {
    padding-top: calc(3 * var(--base-line-height));
  }

  .profilepic {
    width: 100%;
    height: 66vh;
    margin-bottom: calc(2 * var(--base-line-height));

    img {
      display:block;

      width: auto;
      height:100%;
      margin: auto;
    }
  }

  section.container {
    padding: var(--base-line-height);

    border-bottom:1px solid;

    &.gallery {
      position:relative;

      height: auto;

      padding-right:0;
      padding-left:0;
    }
  }

  .bio {
    max-width: 45rem;
    margin:auto;

    text-align:center;
  }

  .editions {
    display:block;

    width: 100%;
  }

  .artworks {
    position:relative;

    margin-top:var(--base-line-height);

    .nothing {
      font-size: var(--up-2);

      margin: var(--base-line-height) 0;

      text-align:center;

      color: var(--c-paynes-200);
    }

    .gallery-items {
      li {
        --text-area-height:1.5 * var(--base-line-height);

        .art-image {
          position: relative;

          height:calc(100% - var(--text-area-height));

          a {
            height:100%;
          }
        }

        .art-title {
          height: calc(var(--text-area-height));
          margin-top: calc(var(--text-area-height) - var(--base-line-height));

          a {
            font-weight: bold;

            transition: text-shadow 200ms ease-out;

            text-decoration: none;

            color: transparent;
            text-shadow: 0 0 0 var(--c-cobalt);

            &:hover {
              transition: text-shadow 200ms ease-out;

              text-shadow: 0 0 3px var(--c-cobalt);
            }
          }
        }
      }
    }
  }
}