.default-content {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  .artist-name {
    padding-top: 50vh;
  }

  section.container {
    padding: var(--base-line-height);

    border-bottom:1px solid;

    &.gallery {
      padding-right:0;
      padding-left:0;
    }
  }

  .bio {
    max-width: 45rem;
    margin:auto;

    text-align:center;
  }

  .editions {
    display:block;

    width: 100%;
  }

  .artworks {
    display:flex;
    overflow: auto;
    flex-flow: row nowrap;
    justify-content: flex-start;

    // height: 20em;
    margin-top: var(--base-line-height);
    padding-right:1em;
    padding-bottom: 1em;
    padding-left: 1em;

    .art {
      display: flex;
      flex-shrink: 0;
      align-items: center;

      max-width: 15em;
      margin: 0 calc(var(--base-line-height) / 2);
    }

    &.empty {
      justify-content: center;
    }

    .nothing {
      font-size: var(--up-2);
      font-weight: 700;
      line-height:1;

      flex-shrink:1;

      align-self:center;

      padding: var(--base-line-height);

      text-align:center;

      color: var(--c-paper-500);
    }
  }
}