@use '../variables';

.artists {
    font-weight: normal;

    margin:0;

    color: var(--c-paynes-400);

    .artist {
        a {
            text-decoration: none;

            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }

        &::after {
            content: ', ';
        }

        &:last-of-type {
            &::after {
                content: '';
            }
        }
    }
}

h1.title {
    margin:0;
    padding:0;
}

.year {
    font-weight: 400;

    color: var(--c-paynes-400);
}

.sticker-box {
    position: fixed;
    z-index: 99;

    top: var(--nav-height);
    right: 0;

    width: 11em;
    height: auto;

    padding: 3em 2em 1em;

    mix-blend-mode: multiply;

    .sticker-wrapper.contrast-text {
        font-size: 1em;
    }
}

.sticker {
    --contrast-text-color: var(--c-cinnabar);
    font-size: 1.75em;

    position:relative;
    top:0;
    right:0;
    left: auto;

    width: auto;
    height: auto;
    margin-bottom: 0.5em;

    // transform:none;

    color: transparent;

    &.push {
        --tag-background-color: var(--c-cobalt-400);
    }

    &:hover {
        // transform: scale(1.5);
        // transform-origin: top right;
    }

    a {
        font-weight: bold;
        line-height: 1;

        text-decoration: none;

        color: transparent;
    }
}

.availability {
    &.sold {
        --background: var(--c-cinnabar);
        --contrast-text-color: var(--c-gold);
    }

    &.new {
        --background: var(--c-gold);

    }
}

.artwork {
    .description {
        position: sticky;
        z-index:9;
        top:var(--nav-height);

        display: block;
        overflow: scroll;

        box-sizing: border-box;

        width: 100%;
        max-width: 30em;
        height: 100%;
        padding: var(--base-line-height);

        @media screen and (width <= 60em) {
            position: relative;
        }

        span.text-wrap {
            background: var(--c-paper);
        }
    }

    .text-block + .text-block {
        margin-top: var(--base-line-height);
    }

    .text-block {
        span {
            background: var(--c-paper);
        }
    }
}

.title-card {
    position: fixed;
    z-index: 99;
    right:var(--base-line-height);
    bottom: var(--base-line-height);

    text-align: right;
}

.image-gallery {
    z-index: 0;
    top:0;

    ul {
        list-style-type: none;

        li {
            width: 100%;
            padding: 4em;

            text-align: center;

            img {
                display: inline-block;

                width: auto;
                max-height: 90vh;
            }

            &::before {
                display: none;
            }
        }
    }
    
}

.primary-image {
    box-sizing: border-box;
    width: 100%;
    padding: var(--base-line-height);

    text-align:center;

    img {
        display: inline-block;

        width: auto;
        max-height: 85vh;
        margin: auto;
    }
}

span.text-wrap {
    background: var(--c-paper);
}