@use "sass:color";
@use "../variables" as v;

:root {
    --shadow-color:rgb(255 207 249);
    --base-font-size: 60px;
}

html,body {
    overflow-x:hidden;

    background-color:black!important;
}

body {
    // margin-bottom:-45vh;
    // padding-bottom:45vh;

    // background: rgb(255 255 255);
    // background: linear-gradient(
    //     180deg,
    //     rgb(255 255 255 / 100%) 0%,
    //     rgb(211 211 224 / 100%) 60%,
    //     rgb(229 222 242 / 100%) 70%, 
    //     rgb(236 243 251 / 72.5%) 80%, 
    //     rgb(239 252 255 / 0%) 100%);

    background-image: url("../crt.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
}

%white-text {
    color: transparent;

    text-shadow: 0 0 3px var(--shadow-color);
}
%black-text {
    color: transparent;

    text-shadow: 0 0 3px black;
}

.home {
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--primary-font-stack);
        font-size: var(--base-font-size);
        font-weight: 900;

        max-width: 70vw;
        margin: auto;

        @extend %white-text;
    }

    h1 {
        font-size: 2em;
    }
}

video {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

section {
    position: relative;
    z-index:9;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    place-content: center;

    box-sizing: border-box;

    width: 100%;
    min-height:100vh;

    background:black;
        
    mix-blend-mode: multiply;

    &.block-type-heading,
    &.block-type-newsletter {
        font-weight: bold;
        line-height: 1.5em;

        margin:0;
        padding: 1em;

        text-align: center;

        color:transparent;

        @extend %white-text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: transparent;
        -webkit-text-stroke-width: 0;

        a {
            word-break: break-word;

            color: inherit;

            &:hover {
                color:inherit;
            }
        }
    }

    &.block-type-newsletter {
        form {
            position:relative;
            %empty-cursor {
                background: black;
                box-shadow: 0 0 3px 3px black;
            }

            .message {
                font-size: var(--up-2);

                margin-top: var(--base-line-height);

                padding: var(--base-line-height) 0;

                &.success {
                    position:absolute;
                    top:0;
                    right:0;
                    left:0;

                    display:grid;
                    place-content: center;
                    
                    margin:0;
                }
            }

            .email {
                position:relative;

                width:100%;
                margin:auto;
                margin-top:2rem;

                background: black;
                box-shadow: 0 0 0 black;

                &:hover {
                    transition:100ms ease;

                    background:var(--shadow-color);

                    input {
                        @extend %black-text;
                        
                        &[type="email"] {
                            transition:100ms ease;

                            box-shadow: 0 0 20px 20px var(--shadow-color);

                            &.empty + .cursor {
                                @extend %empty-cursor;
                            }
                        }
                        
                    }
                    
                }
            }

            fieldset {
                margin:0;
                padding:0;

                transition: opacity 200ms ease-out;

                opacity: 1;

                border:none;
                appearance: none;

                &.disabled {
                    transition: opacity 200ms ease-out;
    
                    opacity: 0;
                }
            }

            input {
                background:transparent;
            }

            input[type="email"] {
                font-size: 1em;
                font-weight:bold;

                position:relative;

                display:block;

                box-sizing: border-box;

                width:100%;
                margin:auto;
                padding:1em 4em 1em 0.5em;

                transition:100ms ease;

                border:1px solid ;
                outline:none;

                &:focus,
                &:not(:placeholder-shown) {
                    transition:100ms ease;

                    background: var(--shadow-color);
                    box-shadow: 0 0 20px 20px var(--shadow-color);

                    @extend %black-text;

                    & ~ input {
                        background: var(--shadow-color);

                        @extend %black-text;
                    }
                }

                &.empty:focus + .cursor {
                    @extend %empty-cursor;
                }

                & + .cursor {
                    position:absolute;
                    top:0.5em;
                    bottom:0.5em;
                    left:0.5em;

                    width: 3px;

                    content:' ';

                    opacity:0;

                    border-radius:1px;
                    background: var(--shadow-color);
                    box-shadow: 0 0 3px 3px var(--shadow-color);
                }

                &:placeholder-shown + .cursor {
                    animation:0.5s infinite alternate cursor;
                }

                @keyframes cursor {
                    from {
                        opacity:0;
                    }

                    to {
                        opacity:1;
                    }
                }
            }

            input[type="submit"] {
                font-family: inherit;
                font-size: 1em;
                font-weight: 700;

                position:absolute;
                z-index: 99;
                top:0;
                right:0;

                display:block;

                padding:1em 0.5em;

                cursor: pointer;

                border:none;
                background:transparent;

                @extend %white-text;
            }
        }
    }

    &.block-type-text {
        height: auto;
        min-height:0;
        padding: 2em 0;

        background: color.adjust(v.$paper, $alpha:-0.6);
        
        mix-blend-mode: normal;
        backdrop-filter: blur(10px);

    
        & > .content {
            box-sizing: border-box;
            width: 75%;
            max-width: 35rem;
            margin: auto;
    
            transform: skewX(-10deg);
        }
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.25em;

        text-transform: none !important;
    }
}
