@use "sass:color";
@use "../variables" as v;

:root {
    --shadow-color:rgb(255 255 255 / 90%);
    --base-font-size: 60px;

    @media screen and (width <= 60rem) {
        --base-font-size: 45px;
    }
}

html,body {
    overflow-x:hidden;

    background-color:black!important;
}

body {
    // margin-bottom:-45vh;
    // padding-bottom:45vh;

    // background: rgb(255 255 255);
    // background: linear-gradient(
    //     180deg,
    //     rgb(255 255 255 / 100%) 0%,
    //     rgb(211 211 224 / 100%) 60%,
    //     rgb(229 222 242 / 100%) 70%, 
    //     rgb(236 243 251 / 72.5%) 80%, 
    //     rgb(239 252 255 / 0%) 100%);

    background-image: url("../crt.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
}

%white-text {
    color: transparent;

    text-shadow: 0 0 3px var(--shadow-color);
}
%black-text {
    color: transparent;

    text-shadow: 0 0 3px black;
}

.home {
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--primary-font-stack);
        font-size: var(--base-font-size);
        font-weight: 900;

        max-width: 70vw;
        margin: auto;

        @extend %white-text;
    }

    h1 {
        font-size: 2em;

        @media screen and (width<=60em) {
            font-size: 13vw;
        }
    }
}

/* Makes a fixed background wrapper
which the user cannot interact with */

.iframe-wrapper {
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;

	overflow: hidden;

	width: 100%;
	height: 100%;

	pointer-events: none;

    background-color: white;
  
	/* Make the iframe keep an aspect ratio, and
	position it in the middle of its parent wrapper */

	iframe {
		position: absolute;
		top: 50%;
		left: 50%;

		width: 100vw;
		min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
		height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
		min-height: 100vh;

		transform: translate(-50%, -50%);
	}
}

.section-wrapper {
    position:relative;
    z-index:1;

    border:none;

    background:black;
    mix-blend-mode:hard-light;

    &.ticker {
		font-size: 7vw;

        z-index:9;

        box-shadow: 0 0 15px 15px var(--c-cobalt-800);
        mix-blend-mode: normal;

		--ticker-size: 1.25em;
		--ticker-font-size: 1em;

        section {
            height: auto;
            min-height: 0;

            &.grid .column {
				padding:0.5rem;

                color: transparent;

                background: var(--c-cobalt-800);

                .blocks {
					font-weight: bold;

                    * {
						font-size: 1em;

						letter-spacing: 5px;

						text-transform: uppercase;

                        text-shadow: 0 0 3px var(--c-cobalt-800), 0 0 4px var(--c-paper);
                    }

					a {
						text-decoration: none;

						text-shadow: 0 0 3px var(--c-paper);
					}

                    .block::after {
						font-size: 1.5em;

                        text-shadow: 0 0 10px var(--c-cobalt);
                    }
                }
            }
        }
    }
}

.block {
    position: relative;
    z-index:9;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    place-content: center;

    box-sizing: border-box;

    width: 100%;
    min-height:100vh;

    border:none;

    &.block-type-heading,
    &.block-type-newsletter {
        font-weight: bold;
        line-height: 1.5em;

        margin:0;
        padding: 1em;

        text-align: center;

        color:transparent;

        @extend %white-text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: transparent;
        -webkit-text-stroke-width: 0;

        a {
            word-break: break-word;

            color: inherit;

            &:hover {
                color:inherit;
            }
        }
    }

    &.block-type-newsletter {
        form {
            position:relative;
            %empty-cursor {
                background: black;
                box-shadow: 0 0 3px 3px black;
            }

            .message {
                font-size: 0.75em;

                position: absolute;
                top:0;

                width: 100%;
                margin-top: var(--base-line-height);

                padding: var(--base-line-height) 0;

                .success {
                    position:absolute;
                    top:0;
                    right:0;
                    left:0;

                    display:grid;
                    place-content: center;
                    
                    margin:0;
                }
            }

            .email {
                position:relative;

                width:100%;
                margin:auto;
                margin-top:2rem;

                background: black;
                box-shadow: 0 0 0 black;

                &:hover {
                    transition:100ms ease;

                    input {
                        @extend %black-text;

                        background:transparent;
                        
                        &[type="email"] {
                            transition:100ms ease;

                            box-shadow: 0 0 3px 3px var(--shadow-color);

                            &.empty + .cursor {
                                @extend %empty-cursor;
                            }
                        }
                        
                    }
                    
                }
            }

            fieldset {
                margin:0;
                padding:0;

                transition: opacity 200ms ease-out;

                opacity: 1;

                border:none;
                appearance: none;

                &.disabled {
                    transition: opacity 200ms ease-out;
    
                    opacity: 0;
                }
            }

            input {
                background:transparent;
            }

            input[type="email"] {
                font-size: 1em;
                font-weight:bold;
                line-height:1;

                position:relative;

                display:block;

                box-sizing: border-box;

                width:100%;
                margin:auto;
                padding:1em 4em 1em 0.5em;

                transition:100ms ease;

                border:1px solid ;
                outline:none;

                @media screen and (width<=60em) {
                    font-size: 0.75em;

                    padding: 1em;
                }

                &:focus,
                &:not(:placeholder-shown) {
                    transition:100ms ease;

                    background: var(--shadow-color);
                    box-shadow: 0 0 3px 3px var(--shadow-color);

                    @extend %black-text;

                    & ~ input {
                        background:transparent;

                        @extend %black-text;

                        @media screen and (width<=60em) {
                            background: var(--shadow-color);
                            box-shadow: 0 0 3px 3px var(--shadow-color);
                        }
                    }
                }

                &.empty:focus + .cursor {
                    @extend %empty-cursor;
                }

                & + .cursor {
                    position:absolute;
                    top: 0.5em;
                    left:0.5em;

                    width: 3px;

                    height: 2em;

                    content:' ';

                    opacity:0;

                    border-radius:1px;
                    background: var(--shadow-color);
                    box-shadow: 0 0 3px 3px var(--shadow-color);

                    @media screen and (width <= 60em) {
                        top: 0.375em;

                        height: 1.5em;
                    }
                }

                &:placeholder-shown + .cursor {
                    animation:0.5s infinite alternate cursor;
                }

                @keyframes cursor {
                    from {
                        opacity:0;
                    }

                    to {
                        opacity:1;
                    }
                }
            }

            input[type="submit"] {
                font-family: inherit;
                font-size: 1em;
                font-weight: 700;
                line-height: 1;

                position:absolute;
                z-index: 99;
                top:0;
                right:0;

                display:block;

                padding:1em 0.5em;

                cursor: pointer;

                border:none;
                background:transparent;

                @extend %white-text;

                @media screen and (width<=60em) {
                    font-size: 0.75em;

                    position: relative;

                    width: 100%;
                    margin-top: 10px;
                    padding: 0.5em;

                    border-radius: var(--input-radius);
                }
            }
        }
    }

    &.block-type-text {
        background: transparent;
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.25em;

        text-transform: none !important;
    }
}
