@use "sass:color";
@use "../variables" as v;

:root {
    --shadow-color:rgba(239 239 216 / 90%);
    --base-font-size: 60px;
    --accent-shadow: rgba(255 255 0 / 90%);

    @media screen and (width <= 500px) {
        --base-font-size: 10vw;
    }

    @media screen and (height <= 400px) {
        --base-font-size: 5vw;
    }
}

html,body {
    overflow-x:hidden;

    background-color:black!important;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    height: 100vh;

    &.input-focused {
        scroll-snap-type: none;
    }
}

body {
    background-image: url("../crt.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
}

%white-text {
    color: transparent;

    text-shadow: 0 0 3px var(--shadow-color);

    @media screen and (width <= 60rem) {
        text-shadow: 0 0 2px var(--shadow-color);
    }
}
%black-text {
    color: transparent;

    text-shadow: 0 0 3px black;

    @media screen and (width <= 60rem) {
        text-shadow: 0 0 2px black;
    }
}

.wrapper, .layouts, body {
    display: contents;
}

.home, .error {
    .button {
        line-height: 1;

        width: auto;
        margin:0;

        color: transparent;

        border-radius: 0;

        background: var(--accent-shadow);
        box-shadow: 0 0 3px 3px var(--accent-shadow);
        text-shadow: 0 0 4px black;

        @media screen and (width <= 50em) {
            // font-size: 0.8em;

            padding: 0.25em 0.5em;
        }

        &:hover {
            color: transparent;
            border:0;
            box-shadow: 0 0 100vh 30vh var(--accent-shadow);
            text-shadow: 0 0 4px black;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--secondary-font-stack);
        font-size: var(--base-font-size);
        font-weight: 900;
        line-height: 1;

        max-width: 70vw;
        margin: auto;

        @extend %white-text;


        @media screen and (width <= 60rem) {
            max-width: 95vw;
        }
    }
}

/* Makes a fixed background wrapper
which the user cannot interact with */

.iframe-wrapper {
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;

	overflow: hidden;

	width: 100%;
	height: 100%;

	pointer-events: none;

    background-color: white;

    &::after {
        position: absolute;

        display: block;

        width:100%;
        height:100%;

        content: ' ';

        background: repeating-linear-gradient(0deg, black, transparent 1px, black 2px);
    }
  
	/* Make the iframe keep an aspect ratio, and
	position it in the middle of its parent wrapper */

	iframe {
		position: absolute;
		top: 50%;
		left: 50%;

		width: 100vw;
		min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
		height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
		min-height: 100vh;

		transform: translate(-50%, -50%);
	}
}

.section-wrapper {
    position:relative;
    z-index:1;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    place-content: center;

    width: 100%;
    min-height:100vh;

    border:none;

    background:black;
    mix-blend-mode:hard-light;

    scroll-snap-align: start;

    &.ticker {
		font-size: 7vw;

        z-index:9;

        box-shadow: 0 0 15px 15px var(--c-cobalt-800);
        mix-blend-mode: normal;

		--ticker-size: 1.25em;
		--ticker-font-size: 1em;

        section {
            height: auto;
            min-height: 0;

            &.grid .column {
				padding:0.5rem;

                color: transparent;

                background: var(--c-cobalt-800);

                .blocks {
					font-weight: bold;

                    .block {
                        scroll-snap-align: start;
                    }
                }
            }
        }
    }
}

.block {
    position: relative;
    z-index:9;

    box-sizing: border-box;

    border:none;

    .overlay {
        position: absolute;
        z-index: -1;

        // top: 50%;

        width: 100%;

        user-select: none;

        form {
            visibility:hidden;

            height: calc(3em + 2rem);

            pointer-events: none;

            opacity:0;
            
            @media screen and (width <= 60em) {
                height: calc(3.75em + 2rem + 10px);
            }

            .email {
                display: none;
                visibility: hidden;
            }
        }
    }


    h1, h2, h3, h4, h5, h6, p, div, * {
        position:relative;

        &::after {
            font-style: normal;

            position:absolute;
            z-index: -1;
            top:0;
            left:0;

            width: 100%;

            content: attr(data-text);
            word-break: break-word;

            text-shadow: 0 0 0.3em var(--c-cobalt);
        }
    }

    &.block-type-markdown {
        padding: 2em;

        @media screen and (width <=50em) {
            padding:1em;
        }
    }

    &.block-type-heading,
    &.block-type-newsletter,
    &.block-type-text {
        font-weight: bold;

        margin:0;
        padding: 1em;

        text-align: center;

        color:transparent;

        @media screen and (width <= 60rem) {
            padding: 16px;

            hyphens: auto;
        }

        @extend %white-text;

        a {
            word-break: break-word;

            color: inherit;

            &:hover {
                color:inherit;
            }
        }
    }

    &.block-type-text {
        a[target="_blank"] {
            @extend %black-text;

            font-size: 1.25em;
            
            font-weight: bold;

            padding: 0.25em 0.75em;

            transition: box-shadow 300ms ease;

            text-decoration: none;

            border-radius: 5px;

            background: var(--c-gold);
            box-shadow: 0 0 5px 5px var(--c-gold);

            &:hover {
                transition: box-shadow 300ms ease;

                box-shadow: 0 0 15px 20px var(--c-gold);
            }
        }
        
        p {
            font-size: 36px;
            line-height: 1!important;

            margin-top:1.5em;
        }
    }

    &.block-type-heading {
        & + & {
            width: 100%;
            padding: 0 1em;
        }
    }

    &.block-type-newsletter {
        form {
            position:relative;
            %empty-cursor {
                background: black;
                box-shadow: 0 0 3px 3px black,0 0 10px 4px var(--c-cobalt);
            }

            .message {
                font-size: 0.75em;

                position: absolute;
                top:0;

                width: 100%;
                margin-top: var(--base-line-height);

                padding: var(--base-line-height) 0;

                color: transparent;

                text-shadow: 0 0 3px var(--shadow-color);

                &.success {
                    position:absolute;
                    top:0;
                    right:0;
                    left:0;

                    display:grid;
                    place-content: center;

                    margin:0;

                    border:none;

                    background:transparent;
                }

                &.error {
                    top:100%;
                }
            }

            %input-hover {
                @extend %black-text;
                transition:100ms ease;
    
                background:transparent;

                background: var(--shadow-color);
                box-shadow: 0 0 3px 3px var(--shadow-color),0 0 15px 4px var(--c-cobalt);

                &::placeholder {
                    @extend %black-text;
                }
            }

            .email {
                position:relative;

                width:100%;
                margin:auto;
                margin-top:2rem;

                background: black;
                box-shadow: 0 0 0 var(--shadow-color);
                
                &:hover {
                    transition:100ms ease;

                    input {
                        @extend %input-hover;
                    }

                    .field {
                        &.is-empty::after {
                            @extend %empty-cursor;
                        }
                    }
                    
                }
            }

            fieldset {
                display: grid;

                grid-template-areas:
                    "a c"
                    "b c";
                grid-template-columns: 6fr 1fr;
                grid-gap:6px;

                margin:0;
                padding:0;

                transition: opacity 200ms ease-out;

                opacity: 1;

                border:none;
                appearance: none;


                @media screen and (width <= 60rem) {
                    font-size:40px;

                    grid-template-areas:
                        "a a"
                        "b b"
                        "c c";

                }
                

                &.disabled {
                    transition: opacity 200ms ease-out;
    
                    opacity: 0;
                }

                .field {
                    min-width:0;
                    min-height:0;

                    &.name-input {
                        grid-area: a;
                    }

                    &.email-input {
                        grid-area: b;
                    }

                    &.submit {
                        grid-area:c;
                    }

                    &::after {
                        position:absolute;
                        z-index:1;
                        top: 50%;
                        left:0.5em;
    
                        width: 3px;
    
                        height: 1em;
    
                        content:' ';
    
                        transform:translateY(-50%);
    
                        opacity:0;
    
                        border-radius:1px;
                        background: var(--shadow-color);
                        box-shadow: 0 0 3px 3px var(--shadow-color), 0 0 10px 4px var(--c-cobalt);
    
                        @media screen and (width <= 60em) {
                            top:0.5em;
    
                            height: 1.5em;
    
                            transform:none;
                        }
                    }
    
                    &.is-empty {
                        &::after {
                            animation:0.5s infinite alternate cursor;
                        }

                        &.is-focused::after {
                            @extend %empty-cursor;
                        }

                    }

                    &.is-focused {
                        & ~ .submit input {
                            @extend %input-hover;
                        }
                    }
    
                    @keyframes cursor {
                        from {
                            opacity:0;
                        }
    
                        to {
                            opacity:1;
                        }
                    }
                }
            }

            input {
                background:transparent;
            }

            input[type="email"],
            input[type="text"] {
                font-size: 1em;
                font-weight:bold;
                line-height:1;

                position:relative;

                display:block;

                box-sizing: border-box;

                // width:100%;
                margin:0;
                padding:0.5em;

                transition:100ms ease;

                border: none;
                border-radius:0;

                outline:none;

                @media screen and (width<=60em) {
                    font-size: 0.75em;

                    padding: 1em;
                }

                &::placeholder {
                    @extend %white-text;
                }

                &:focus,
                &:not(:placeholder-shown) {
                    transition:100ms ease;

                    background: var(--shadow-color);
                    box-shadow: 0 0 3px 3px var(--shadow-color),0 0 15px 4px var(--c-cobalt);

                    @extend %black-text;
                    
                    &::placeholder {
                        @extend %black-text;
                    }
                }
            }

            input[type="submit"] {
                @extend %white-text;

                font-family: inherit;
                font-size: 1em;
                font-weight: 700;
                line-height: 1;

                position:absolute;
                z-index: 99;
                top:0;
                right:0;

                display:block;

                width:200%;

                height:100%;

                margin:0;

                padding:1em 0.5em;

                cursor: pointer;

                transform: scaleX(50%);
                transform-origin:right;

                text-transform: uppercase;

                border:none;
                border-radius:0;
                background:transparent;
                box-shadow: none;

                @media screen and (width<=60em) {
                    font-size: 0.75em;

                    position: relative;

                    width: 50%;
                    margin-top: 10px;
                    padding: 0.5em;

                    transform: scale(200%, 75%);
                    transform-origin: top left;
                }
            }
        }
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 1;

        text-transform: uppercase;
    }
}

.header {
    font-size: 0;

    text-align:center;

    h1 {
        font-size: 2rem;

        display:block;

        width:100%;
        max-width:none;

        margin:0;
        padding:0;

        text-align:center;

        letter-spacing:-1px;

        word-spacing:0;

        text-shadow: 0 0 6px var(--shadow-color);

        &::after {
            display:none;
    
            content:'';
        }
        
        span {
            display:inline-block;

            &:first-child {
                z-index:99;
        
                // font-size: 2rem;
        
                transform: scale(255%, 105%);
                transform-origin: left;
                letter-spacing: -3px;
        
                // text-shadow: 0 0 5px var(--shadow-color);
        
                @media screen and (width<=60em) {
                    // text-shadow: 0 0 0.8vw var(--shadow-color);
                }
        
            }

            &:last-child {
                transform: scale(55%, 100%);
                transform-origin: right;
            }
        }

        @media screen and (width<=60em) {
            font-size: 14vw;

            text-shadow: 0 0 4px var(--shadow-color);
        }
    }

    

    .blocks {
        display: contents;
    }
}