:root {
  --input-radius: 5px;
  --c-benibana: #ff99a1;
  --c-benibana-100: rgb(255, 239.7, 240.9);
  --c-benibana-200: rgb(255, 229.5, 231.5);
  --c-benibana-300: #ffccd0;
  --c-benibana-400: rgb(255, 178.5, 184.5);
  --c-benibana-500: #ff99a1;
  --c-benibana-600: rgb(255, 127.5, 137.5);
  --c-benibana-700: #ff6672;
  --c-benibana-800: rgb(255, 76.5, 90.5);
  --c-benibana-900: #ff3343;
  --c-gold: #fcdf39;
  --c-gold-100: rgb(253.2940298507, 236.8029850746, 142.4059701493);
  --c-gold-200: rgb(253.1417910448, 235.1791044776, 132.3582089552);
  --c-gold-300: rgb(252.7611940299, 231.1194029851, 107.2388059701);
  --c-gold-400: rgb(252.3805970149, 227.0597014925, 82.1194029851);
  --c-gold-500: #fcdf39;
  --c-gold-600: rgb(251.6194029851, 218.9402985075, 31.8805970149);
  --c-gold-700: rgb(251.2388059701, 214.8805970149, 6.7611940299);
  --c-gold-800: rgb(229.0298507463, 195.4850746269, 3.4701492537);
  --c-gold-900: rgb(203.9104477612, 174.0447761194, 3.0895522388);
  --c-cobalt: blue;
  --c-cobalt-100: #ccccff;
  --c-cobalt-200: #9999ff;
  --c-cobalt-300: #6666ff;
  --c-cobalt-400: #3333ff;
  --c-cobalt-500: blue;
  --c-cobalt-600: #0000cc;
  --c-cobalt-700: #000099;
  --c-cobalt-800: #000066;
  --c-cobalt-900: #000033;
  --c-cobalt-light: #73b4db;
  --c-cinnabar: #b82b2b;
  --c-cinnabar-100: rgb(240.0352422907, 190.9647577093, 190.9647577093);
  --c-cinnabar-200: rgb(230.3744493392, 149.6255506608, 149.6255506608);
  --c-cinnabar-300: rgb(220.7136563877, 108.2863436123, 108.2863436123);
  --c-cinnabar-400: rgb(211.0528634361, 66.9471365639, 66.9471365639);
  --c-cinnabar-500: #b82b2b;
  --c-cinnabar-600: rgb(142.6607929515, 33.3392070485, 33.3392070485);
  --c-cinnabar-700: rgb(101.3215859031, 23.6784140969, 23.6784140969);
  --c-cinnabar-800: rgb(59.9823788546, 14.0176211454, 14.0176211454);
  --c-cinnabar-900: rgb(18.6431718062, 4.3568281938, 4.3568281938);
  --c-paper: #e5e1de;
  --c-paper-100: rgb(237.9898305085, 235.3728813559, 233.4101694915);
  --c-paper-200: rgb(235.7423728814, 232.7796610169, 230.5576271186);
  --c-paper-300: #e5e1de;
  --c-paper-400: rgb(220.0101694915, 214.6271186441, 210.5898305085);
  --c-paper-500: rgb(211.0203389831, 204.2542372881, 199.1796610169);
  --c-paper-600: rgb(202.0305084746, 193.8813559322, 187.7694915254);
  --c-paper-700: rgb(193.0406779661, 183.5084745763, 176.3593220339);
  --c-paper-800: rgb(184.0508474576, 173.1355932203, 164.9491525424);
  --c-paper-900: rgb(175.0610169492, 162.7627118644, 153.5389830508);
  --c-paynes: #4e5147;
  --c-paynes-100: rgb(180.0263157895, 183.0657894737, 172.9342105263);
  --c-paynes-200: rgb(155.1973684211, 159.2434210526, 145.7565789474);
  --c-paynes-300: rgb(130.3421052632, 135.3552631579, 118.6447368421);
  --c-paynes-400: rgb(104.1710526316, 108.1776315789, 94.8223684211);
  --c-paynes-500: #4e5147;
  --c-paynes-600: rgb(51.8289473684, 53.8223684211, 47.1776315789);
  --c-paynes-700: rgb(25.6578947368, 26.6447368421, 23.3552631579);
  --c-paynes-800: hsl(78, 6.5789473684%, -0.1960784314%);
  --c-paynes-900: hsl(78, 6.5789473684%, -10.1960784314%);
  --c-violet: #4c12a8;
  --c-violet-100: rgb(184.0322580645, 146.6129032258, 243.3870967742);
  --c-violet-200: rgb(153.8709677419, 100.5483870968, 238.4516129032);
  --c-violet-300: rgb(123.7096774194, 54.4838709677, 233.5161290323);
  --c-violet-400: rgb(96.8387096774, 22.935483871, 214.064516129);
  --c-violet-500: #4c12a8;
  --c-violet-600: rgb(55.1612903226, 13.064516129, 121.935483871);
  --c-violet-700: rgb(34.3225806452, 8.1290322581, 75.8709677419);
  --c-violet-800: rgb(13.4838709677, 3.1935483871, 29.8064516129);
  --c-violet-900: hsl(263.2, 80.6451612903%, -3.5294117647%);
  --c-vert: green;
  --c-vert-100: rgb(0, 214.7, 0);
  --c-vert-200: rgb(0, 204.5, 0);
  --c-vert-300: #00b300;
  --c-vert-400: rgb(0, 153.5, 0);
  --c-vert-500: green;
  --c-vert-600: rgb(0, 102.5, 0);
  --c-vert-700: #004d00;
  --c-vert-800: rgb(0, 51.5, 0);
  --c-vert-900: #001a00;
  --border-color: var(--c-cobalt);
  --text-color: var(--c-cobalt);
  --nav-height: calc(var(--base-line-height) * 2);
}

.wrapper .collection li .artwork-title-wrapper, .contrast-text {
  --contrast-text-color: var(--c-cobalt);
  --contrast-shadow-color: var(--c-benibana-600);
  font-family: var(--secondary-font-stack);
  background: var(--c-paper);
  mix-blend-mode: multiply;
  filter: contrast(30);
}
.wrapper .collection li .artwork-title-wrapper *, .contrast-text * {
  position: relative;
  box-sizing: border-box;
  padding: 0.1em 0;
  padding-left: 0.25rem;
  letter-spacing: -1px;
  color: transparent;
  text-shadow: 0 0 0.05em var(--contrast-text-color);
}
.wrapper .collection li .artwork-title-wrapper > *, .contrast-text > * {
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  position: relative;
}
@media screen and (width <= 40em) {
  .wrapper .collection li .artwork-title-wrapper > *, .contrast-text > * {
    font-size: 2.5em;
    letter-spacing: 0;
    -webkit-hyphens: none;
            hyphens: none;
  }
}

.wrapper .collection {
  --id-size: 10em;
  position: relative;
}
.wrapper .collection ol {
  margin: 0;
  padding: 0;
}
.wrapper .collection li {
  position: relative;
  z-index: 99;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid var(--c-paper-300);
  mix-blend-mode: multiply;
}
@media screen and (width <= 50em) {
  .wrapper .collection li {
    --list-height: 8em;
    min-height: var(--list-height);
  }
}
.wrapper .collection li::before {
  font-weight: bold;
  z-index: 999;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  content: var(--index);
  transform: translateY(-50%);
  text-align: center;
  color: var(--c-paynes-200);
  border-right: 1px solid;
}
.wrapper .collection li:hover::before {
  color: red;
}
.wrapper .collection li:hover * {
  --contrast-text-color: var(--c-cinnabar-400);
}
.wrapper .collection li:hover * .tag.new, .wrapper .collection li:hover * .tag.sold {
  --contrast-text-color: var(--c-paper);
  background: var(--c-cinnabar);
}
.wrapper .collection li .artwork-image {
  width: auto;
  margin-left: 2em;
  padding: calc(var(--base-line-height) / 2) var(--base-line-height);
  text-align: center;
  background: white;
  mix-blend-mode: normal;
}
.wrapper .collection li .artwork-image img {
  display: inline-block;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 50vh;
}
.wrapper .collection li .left-side {
  mix-blend-mode: normal;
  font-size: var(--base-font-size);
  display: flex;
  flex-direction: column;
}
.wrapper .collection li .artwork-artist {
  font-family: var(--secondary-font-stack);
  font-size: 2em;
  font-weight: 900;
  letter-spacing: -1px;
  color: var(--c-paynes);
}
.wrapper .collection li .artwork-artist .artist {
  margin-right: 0.5em;
}
@media screen and (width <= 60em) {
  .wrapper .collection li .artwork-artist {
    font-size: 1rem;
  }
  .wrapper .collection li .artwork-artist * {
    letter-spacing: 0;
  }
}
.wrapper .collection li .artwork-title {
  font-size: 4em;
  display: inline-block;
  width: 100%;
  padding: 0 2rem 0.5rem 0;
  padding-left: 0.25rem;
}
.wrapper .collection li .artwork-title::after {
  padding: 0 2rem 0.5rem 0;
}
@media screen and (width <= 60em) {
  .wrapper .collection li .artwork-title {
    font-size: 2.5em;
    letter-spacing: 0;
  }
}
.wrapper .collection li .artwork-id {
  mix-blend-mode: normal;
  font-size: 0.8rem;
  width: 100%;
  text-align: right;
  letter-spacing: 0;
  color: var(--c-paynes-300);
}
@media screen and (width <= 60em) {
  .wrapper .collection li .artwork-id {
    text-align: left;
  }
}
.wrapper .collection li .stickers {
  position: absolute;
  z-index: 99;
  top: 50%;
  right: 0;
  box-sizing: border-box;
}
@media screen and (width <= 50em) {
  .wrapper .collection li .stickers {
    font-size: 0;
    top: 4px;
    right: 4px;
    width: calc(100% - 2rem);
    text-align: right;
    word-spacing: 0;
  }
  .wrapper .collection li .stickers .tag {
    font-size: 1.5rem;
    font-weight: 900;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0.25em 0.5em;
    letter-spacing: 0;
  }
}
.wrapper .collection li .tag {
  font-size: 1.5em;
  position: absolute;
  right: 1em;
  bottom: 0;
  width: 6em;
  letter-spacing: -1px;
  /* stylelint-disable-next-line selector-class-pattern */
}
.wrapper .collection li .tag.sold {
  --contrast-text-color: var(--c-gold);
  --contrast-shadow-color: var(--c-benibana);
}
.wrapper .collection li .tag ~ .tag {
  right: 5.5em;
}
@media screen and (width <= 50em) {
  .wrapper .collection li .tag {
    font-size: 1.25em;
    position: relative;
    inset: 0;
    transform: none;
    border-radius: 0;
  }
  .wrapper .collection li .tag::before {
    border-radius: 0;
  }
  .wrapper .collection li .tag ~ .tag {
    right: 0;
  }
}
.wrapper .collection li a {
  mix-blend-mode: normal;
  position: relative;
  z-index: 99;
  display: grid;
  grid-template-columns: 1fr var(--id-size);
  width: 100%;
  height: 100%;
  padding: calc(var(--base-line-height) / 2) var(--base-line-height);
  padding-left: 3rem;
  text-decoration: none;
  color: inherit;
}
@media screen and (width <= 60em) {
  .wrapper .collection li a {
    grid-template-columns: 1fr;
  }
}

.image-box {
  position: fixed;
  z-index: -999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  transition: opacity 200ms ease;
  text-align: center;
}
.image-box figure {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0 !important;
  transition: opacity 300ms ease;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.image-box figure.shown {
  transition: opacity 300ms ease;
  opacity: 1;
}
.image-box img {
  width: auto;
  max-width: 80vw;
  max-height: 70vh;
}
@media screen and (width <= 60em) {
  .image-box img {
    max-width: 50vw;
  }
}

/*# sourceMappingURL=gallery-collection.css.map */