:root {
  --shadow-color: rgba(239 239 216 / 90%);
  --accent-shadow: rgba(255 255 0 / 90%);
}

.hero .container-full .header h1 {
  transition: 1s ease text-shadow;
  transition-delay: 1s;
  color: transparent;
  text-shadow: 0 0 3px var(--shadow-color);
}
@media screen and (width <= 60rem) {
  .hero .container-full .header h1 {
    text-shadow: 0 0 2px var(--shadow-color);
  }
}

html,
body {
  overflow-x: hidden;
}

body.home2 {
  height: auto;
  scroll-behavior: smooth;
  scroll-snap-type: none;
  background-color: var(--c-paper) !important;
}

.error.start-out * {
  transition: 500ms ease text-shadow;
  transition-delay: 1s;
  text-shadow: 0 0 0 transparent !important;
}

.error.start-out *::after {
  transition: 1s ease text-shadow;
  transition-delay: 2s;
  text-shadow: 0 0 0 transparent !important;
}

nav {
  position: fixed;
  top: 0;
  transition: 450ms ease-out top;
  transition-delay: 9.5s;
}

#checkout-button {
  position: fixed;
  z-index: 99;
  transition: 450ms ease-out top, 450ms ease-out opacity;
  opacity: 1;
}
#checkout-button.empty {
  opacity: 0;
}

/* Makes a fixed background wrapper
which the user cannot interact with */
.iframe-wrapper {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: var(--c-paynes);
  /* Make the iframe keep an aspect ratio, and
  position it in the middle of its parent wrapper */
}
.iframe-wrapper::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: " ";
  background: repeating-linear-gradient(90deg, black, transparent 1px, black 2px);
}
.iframe-wrapper iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  transform: translate(-50%, -50%);
}

.hero {
  position: relative;
  z-index: 999;
  width: 100vw;
  height: calc(100vh - var(--nav-height) - 2 * var(--base-line-height));
  margin-top: var(--nav-height);
  background: black;
}
.hero .container-full {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(80%);
  -webkit-clip-path: url("#squircle");
          clip-path: url("#squircle");
}
.hero .container-full .moire {
  position: absolute;
  overflow: hidden;
}
.hero .container-full .header {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 100%;
  height: 100%;
  inset: 0;
  mix-blend-mode: overlay;
}
.hero .container-full .header h1 {
  font-family: var(--secondary-font-stack);
  font-size: 10vw;
  font-weight: 900;
  width: 100vw;
  transform: scale(100%);
  text-align: center;
}
.hero .container-full .header h1 span {
  display: inline-block;
}
.hero .container-full .header h1 span:first-child {
  z-index: 99;
  transform: scale(255%, 105%);
  transform-origin: left;
  letter-spacing: -3px;
}
.hero .container-full .header h1 span:last-child {
  transform: scale(55%, 100%);
  transform-origin: right;
}

/*# sourceMappingURL=home.css.map */