:root {
  --input-radius: 5px;
  --c-benibana: #ff99a1;
  --c-benibana-100: rgb(255, 239.7, 240.9);
  --c-benibana-200: rgb(255, 229.5, 231.5);
  --c-benibana-300: #ffccd0;
  --c-benibana-400: rgb(255, 178.5, 184.5);
  --c-benibana-500: #ff99a1;
  --c-benibana-600: rgb(255, 127.5, 137.5);
  --c-benibana-700: #ff6672;
  --c-benibana-800: rgb(255, 76.5, 90.5);
  --c-benibana-900: #ff3343;
  --c-gold: #fcdf39;
  --c-gold-100: rgb(253.2940298507, 236.8029850746, 142.4059701493);
  --c-gold-200: rgb(253.1417910448, 235.1791044776, 132.3582089552);
  --c-gold-300: rgb(252.7611940299, 231.1194029851, 107.2388059701);
  --c-gold-400: rgb(252.3805970149, 227.0597014925, 82.1194029851);
  --c-gold-500: #fcdf39;
  --c-gold-600: rgb(251.6194029851, 218.9402985075, 31.8805970149);
  --c-gold-700: rgb(251.2388059701, 214.8805970149, 6.7611940299);
  --c-gold-800: rgb(229.0298507463, 195.4850746269, 3.4701492537);
  --c-gold-900: rgb(203.9104477612, 174.0447761194, 3.0895522388);
  --c-cobalt: blue;
  --c-cobalt-100: #ccccff;
  --c-cobalt-200: #9999ff;
  --c-cobalt-300: #6666ff;
  --c-cobalt-400: #3333ff;
  --c-cobalt-500: blue;
  --c-cobalt-600: #0000cc;
  --c-cobalt-700: #000099;
  --c-cobalt-800: #000066;
  --c-cobalt-900: #000033;
  --c-cobalt-light: #73b4db;
  --c-cinnabar: #b82b2b;
  --c-cinnabar-100: rgb(240.0352422907, 190.9647577093, 190.9647577093);
  --c-cinnabar-200: rgb(230.3744493392, 149.6255506608, 149.6255506608);
  --c-cinnabar-300: rgb(220.7136563877, 108.2863436123, 108.2863436123);
  --c-cinnabar-400: rgb(211.0528634361, 66.9471365639, 66.9471365639);
  --c-cinnabar-500: #b82b2b;
  --c-cinnabar-600: rgb(142.6607929515, 33.3392070485, 33.3392070485);
  --c-cinnabar-700: rgb(101.3215859031, 23.6784140969, 23.6784140969);
  --c-cinnabar-800: rgb(59.9823788546, 14.0176211454, 14.0176211454);
  --c-cinnabar-900: rgb(18.6431718062, 4.3568281938, 4.3568281938);
  --c-paper: #e5e1de;
  --c-paper-100: rgb(237.9898305085, 235.3728813559, 233.4101694915);
  --c-paper-200: rgb(235.7423728814, 232.7796610169, 230.5576271186);
  --c-paper-300: #e5e1de;
  --c-paper-400: rgb(220.0101694915, 214.6271186441, 210.5898305085);
  --c-paper-500: rgb(211.0203389831, 204.2542372881, 199.1796610169);
  --c-paper-600: rgb(202.0305084746, 193.8813559322, 187.7694915254);
  --c-paper-700: rgb(193.0406779661, 183.5084745763, 176.3593220339);
  --c-paper-800: rgb(184.0508474576, 173.1355932203, 164.9491525424);
  --c-paper-900: rgb(175.0610169492, 162.7627118644, 153.5389830508);
  --c-paynes: #4e5147;
  --c-paynes-100: rgb(180.0263157895, 183.0657894737, 172.9342105263);
  --c-paynes-200: rgb(155.1973684211, 159.2434210526, 145.7565789474);
  --c-paynes-300: rgb(130.3421052632, 135.3552631579, 118.6447368421);
  --c-paynes-400: rgb(104.1710526316, 108.1776315789, 94.8223684211);
  --c-paynes-500: #4e5147;
  --c-paynes-600: rgb(51.8289473684, 53.8223684211, 47.1776315789);
  --c-paynes-700: rgb(25.6578947368, 26.6447368421, 23.3552631579);
  --c-paynes-800: hsl(78, 6.5789473684%, -0.1960784314%);
  --c-paynes-900: hsl(78, 6.5789473684%, -10.1960784314%);
  --c-violet: #4c12a8;
  --c-violet-100: rgb(184.0322580645, 146.6129032258, 243.3870967742);
  --c-violet-200: rgb(153.8709677419, 100.5483870968, 238.4516129032);
  --c-violet-300: rgb(123.7096774194, 54.4838709677, 233.5161290323);
  --c-violet-400: rgb(96.8387096774, 22.935483871, 214.064516129);
  --c-violet-500: #4c12a8;
  --c-violet-600: rgb(55.1612903226, 13.064516129, 121.935483871);
  --c-violet-700: rgb(34.3225806452, 8.1290322581, 75.8709677419);
  --c-violet-800: rgb(13.4838709677, 3.1935483871, 29.8064516129);
  --c-violet-900: hsl(263.2, 80.6451612903%, -3.5294117647%);
  --c-vert: #008000;
  --c-vert-100: rgb(0, 214.7, 0);
  --c-vert-200: rgb(0, 204.5, 0);
  --c-vert-300: #00b300;
  --c-vert-400: rgb(0, 153.5, 0);
  --c-vert-500: #008000;
  --c-vert-600: rgb(0, 102.5, 0);
  --c-vert-700: #004d00;
  --c-vert-800: rgb(0, 51.5, 0);
  --c-vert-900: #001a00;
  --border-color: var(--c-cobalt);
  --text-color: var(--c-cobalt);
  --nav-height: calc(var(--base-line-height) * 2);
}

.wrapper .accordion section.grid .block-type-heading:first-child, .contrast-text {
  --contrast-text-color: var(--c-cobalt);
  --contrast-shadow-color: var(--c-benibana-600);
  font-family: var(--secondary-font-stack);
  background: var(--c-paper);
  mix-blend-mode: multiply;
  filter: contrast(30);
}
.wrapper .accordion section.grid .block-type-heading:first-child *, .contrast-text * {
  position: relative;
  box-sizing: border-box;
  padding: 0.1em 0;
  padding-left: 0.25rem;
  letter-spacing: -0.5px;
  color: transparent;
  text-shadow: 0 0 0.05em var(--contrast-text-color);
}
.wrapper .accordion section.grid .block-type-heading:first-child > *, .contrast-text > * {
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  position: relative;
}
@media screen and (width <= 40em) {
  .wrapper .accordion section.grid .block-type-heading:first-child > *, .contrast-text > * {
    font-size: 2.5em;
    letter-spacing: 0;
    -webkit-hyphens: none;
            hyphens: none;
  }
}

.wrapper .accordion {
  --accordion-bg: var(--c-paper);
  --accordion-tc: var(--c-cobalt);
  --offset-height: 1.75rem;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0;
  padding: 2px 0;
  color: var(--accordion-text-color);
}
.wrapper .accordion + .accordion {
  margin-top: 0;
  margin-bottom: 0;
}
.wrapper .accordion.last {
  margin-bottom: var(--base-line-height);
}
.wrapper .accordion h1,
.wrapper .accordion h2,
.wrapper .accordion h3,
.wrapper .accordion h4,
.wrapper .accordion h5,
.wrapper .accordion h6,
.wrapper .accordion p {
  color: var(--accordion-text-color);
}
.wrapper .accordion section.grid {
  line-height: 1;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  max-width: calc(var(--max-content-width) - var(--base-line-height) * 2);
  max-height: calc(var(--offset-height) + 2 * var(--base-line-height));
  margin: 0 auto;
  transition: max-height ease 100ms;
}
.wrapper .accordion section.grid.active {
  max-height: calc(var(--section-height) + 2 * var(--base-line-height));
  transition: max-height ease 100ms;
}
.wrapper .accordion section.grid.active::after {
  transition: transform ease 200ms;
  transform: rotate(-90deg);
}
.wrapper .accordion section.grid::after, .wrapper .accordion section.grid::before {
  --plus-stroke: 3px;
  position: absolute;
  top: var(--base-line-height);
  right: var(--base-line-height);
  display: block;
  width: 2em;
  height: 2em;
  content: " ";
  border-radius: var(--plus-stroke);
  background: var(--accordion-text-color);
}
.wrapper .accordion section.grid::after {
  right: calc(var(--base-line-height) + 1em - var(--plus-stroke) / 2);
  width: var(--plus-stroke);
  transition: transform ease 200ms;
  transform: rotate(0);
}
.wrapper .accordion section.grid::before {
  top: calc(var(--base-line-height) + 1em - var(--plus-stroke) / 2);
  height: var(--plus-stroke);
}
@media screen and (width <= 60em) {
  .wrapper .accordion section.grid {
    padding: var(--base-line-height);
    background: var(--accordion-bg);
  }
}
.wrapper .accordion section.grid .column {
  margin: 0;
  padding: var(--base-line-height);
  border-right: 0;
  background: var(--accordion-bg);
}
@media screen and (width <= 60em) {
  .wrapper .accordion section.grid .column {
    margin-bottom: var(--base-line-height);
    padding: 0;
  }
  .wrapper .accordion section.grid .column:last-child {
    margin: 0;
  }
}
.wrapper .accordion section.grid .block {
  margin-left: 0;
}
.wrapper .accordion section.grid .block-type-heading:first-child {
  --contrast-text-color: var(--accordion-text-color);
  font-family: var(--secondary-font-family);
  z-index: 99;
  display: grid;
  align-items: center;
  box-sizing: border-box;
  max-width: none;
  min-height: 2rem;
  margin-bottom: var(--base-line-height);
  margin-left: -10px;
  padding: 0 0.25rem;
  padding-right: 2rem;
  cursor: pointer;
}
.wrapper .accordion section.grid .block-type-heading:first-child:first-child + .block {
  margin-top: 0;
}
.wrapper .accordion section.grid .block-type-heading:first-child h1 {
  font-size: 1.75rem;
}
.wrapper .accordion section.grid .block-type-heading:first-child h2 {
  font-size: 1.75rem;
}
.wrapper .accordion section.grid .block-type-heading:first-child h3 {
  font-size: 1.75rem;
}
.wrapper .accordion section.grid .block-type-heading:first-child h4,
.wrapper .accordion section.grid .block-type-heading:first-child h5,
.wrapper .accordion section.grid .block-type-heading:first-child h6 {
  font-size: 1.5rem;
}

.ticker {
  --duration: 20s;
  --ticker-font-size: 1.625rem;
  --ticker-size: 1.625rem;
  --background: var(--c-paper);
  --ticker-text: var(--c-paper);
  border-bottom: 0;
}
.ticker.bigger {
  --ticker-font-size: 2.66rem;
  --ticker-size: 3rem;
}
.ticker.last {
  margin-bottom: var(--column-margins) !important;
}
@keyframes ticker {
  0% {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@media screen and (width <= 60rem) {
  .ticker section.grid .column,
  .ticker section.grid .column:last-child {
    display: block;
    margin: 0;
    padding: 0.5em 0;
  }
}
.ticker section.grid {
  overflow: hidden;
  width: 100%;
  max-width: none;
}
.ticker section.grid .column {
  overflow: hidden;
  box-sizing: content-box;
  width: 100%;
  height: var(--ticker-size);
  padding: calc(var(--base-line-height) / 4) 0;
  padding-left: 100%;
  background-color: var(--background);
}
.ticker section.grid .column .blocks {
  --steps: 780;
  display: inline-block;
  box-sizing: content-box;
  height: var(--ticker-size);
  padding-right: 100%;
  animation-name: ticker;
  animation-duration: var(--duration);
  animation-timing-function: steps(var(--steps));
  animation-iteration-count: infinite;
  white-space: nowrap;
}
.ticker section.grid .column .blocks:hover {
  animation-play-state: paused;
}
.ticker section.grid .column .blocks a {
  color: var(--ticker-text);
}
.ticker section.grid .column .blocks > * {
  font-family: gridlite-pe-variable, sans-serif;
  font-variation-settings: "wght" 900, "BACK" 1, "RECT" 0, "ELSH" 4;
  font-size: var(--ticker-font-size);
  font-weight: bold;
  line-height: var(--ticker-size);
  display: inline;
  width: auto;
  margin: 0 2em;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  color: var(--ticker-text);
}

:root {
  --shadow-color: rgba(239 239 216 / 90%);
  --accent-shadow: rgba(255 255 0 / 90%);
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: black !important;
  background-image: url("../crt.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  image-rendering: pixelated;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
body.input-focused {
  scroll-snap-type: none;
}
body.home2 {
  height: auto;
  scroll-behavior: smooth;
  scroll-snap-type: none;
  background-color: var(--c-paper) !important;
}

.error .block.block-type-newsletter form input[type=email]::-moz-placeholder, .error .block.block-type-newsletter form input[type=text]::-moz-placeholder {
  -moz-transition: 1s ease text-shadow;
  transition: 1s ease text-shadow;
  transition-delay: 1s;
  color: transparent;
  text-shadow: 0 0 3px var(--shadow-color);
}

.hero .container-full .header h1, .error .block.block-type-newsletter form button[type=submit], .error .block.block-type-newsletter form input[type=email]::placeholder,
.error .block.block-type-newsletter form input[type=text]::placeholder, .error .block.block-type-heading, .error .block.block-type-newsletter, .error .block.block-type-text, .error .block.block-type-markdown, .error .section-wrapper:first-child::after, .error .section-wrapper:first-child::before, .home h1,
.home h2,
.home h3,
.home h4,
.home h5,
.home h6,
.error h1,
.error h2,
.error h3,
.error h4,
.error h5,
.error h6 {
  transition: 1s ease text-shadow;
  transition-delay: 1s;
  color: transparent;
  text-shadow: 0 0 3px var(--shadow-color);
}
@media screen and (width <= 60rem) {
  .error .block.block-type-newsletter form input[type=email]::-moz-placeholder, .error .block.block-type-newsletter form input[type=text]::-moz-placeholder {
    text-shadow: 0 0 2px var(--shadow-color);
  }
  .hero .container-full .header h1, .error .block.block-type-newsletter form button[type=submit], .error .block.block-type-newsletter form input[type=email]::placeholder,
  .error .block.block-type-newsletter form input[type=text]::placeholder, .error .block.block-type-heading, .error .block.block-type-newsletter, .error .block.block-type-text, .error .block.block-type-markdown, .error .section-wrapper:first-child::after, .error .section-wrapper:first-child::before, .home h1,
  .home h2,
  .home h3,
  .home h4,
  .home h5,
  .home h6,
  .error h1,
  .error h2,
  .error h3,
  .error h4,
  .error h5,
  .error h6 {
    text-shadow: 0 0 2px var(--shadow-color);
  }
}

.error .block.block-type-newsletter form input[type=email]:focus::-moz-placeholder, .error .block.block-type-newsletter form input[type=email]:not(:placeholder-shown)::-moz-placeholder, .error .block.block-type-newsletter form input[type=text]:focus::-moz-placeholder, .error .block.block-type-newsletter form input[type=text]:not(:placeholder-shown)::-moz-placeholder, .error .block.block-type-newsletter form fieldset .field.is-focused ~ .submit input::-moz-placeholder, .error .block.block-type-newsletter form .email:hover input::-moz-placeholder, .error .block.block-type-newsletter form .email:hover button::-moz-placeholder {
  -moz-transition: 1s ease text-shadow;
  transition: 1s ease text-shadow;
  transition-delay: 1s;
  color: transparent;
  text-shadow: 0 0 3px black;
}

.error .block.block-type-newsletter form input[type=email]:not(:-moz-placeholder-shown)::placeholder, .error .block.block-type-newsletter form input[type=text]:not(:-moz-placeholder-shown)::placeholder, .error .block.block-type-newsletter form input[type=email]:not(:-moz-placeholder-shown), .error .block.block-type-newsletter form input[type=text]:not(:-moz-placeholder-shown) {
  -moz-transition: 1s ease text-shadow;
  transition: 1s ease text-shadow;
  transition-delay: 1s;
  color: transparent;
  text-shadow: 0 0 3px black;
}

.error .block-type-featuredArtist .go, .error .block.block-type-newsletter form input[type=email]:focus::placeholder, .error .block.block-type-newsletter form input[type=email]:not(:placeholder-shown)::placeholder,
.error .block.block-type-newsletter form input[type=text]:focus::placeholder,
.error .block.block-type-newsletter form input[type=text]:not(:placeholder-shown)::placeholder, .error .block.block-type-newsletter form input[type=email]:focus, .error .block.block-type-newsletter form input[type=email]:not(:placeholder-shown),
.error .block.block-type-newsletter form input[type=text]:focus,
.error .block.block-type-newsletter form input[type=text]:not(:placeholder-shown), .error .block.block-type-newsletter form fieldset .field.is-focused ~ .submit input::placeholder, .error .block.block-type-newsletter form .email:hover input::placeholder,
.error .block.block-type-newsletter form .email:hover button::placeholder, .error .block.block-type-newsletter form fieldset .field.is-focused ~ .submit input, .error .block.block-type-newsletter form .email:hover input,
.error .block.block-type-newsletter form .email:hover button, .error .block.block-type-text a::after, .error .block.block-type-text a {
  transition: 1s ease text-shadow;
  transition-delay: 1s;
  color: transparent;
  text-shadow: 0 0 3px black;
}
@media screen and (width <= 60rem) {
  .error .block.block-type-newsletter form input[type=email]:focus::-moz-placeholder, .error .block.block-type-newsletter form input[type=email]:not(:placeholder-shown)::-moz-placeholder, .error .block.block-type-newsletter form input[type=text]:focus::-moz-placeholder, .error .block.block-type-newsletter form input[type=text]:not(:placeholder-shown)::-moz-placeholder, .error .block.block-type-newsletter form fieldset .field.is-focused ~ .submit input::-moz-placeholder, .error .block.block-type-newsletter form .email:hover input::-moz-placeholder, .error .block.block-type-newsletter form .email:hover button::-moz-placeholder {
    text-shadow: 0 0 2px black;
  }
  .error .block.block-type-newsletter form input[type=email]:not(:-moz-placeholder-shown)::placeholder, .error .block.block-type-newsletter form input[type=text]:not(:-moz-placeholder-shown)::placeholder, .error .block.block-type-newsletter form input[type=email]:not(:-moz-placeholder-shown), .error .block.block-type-newsletter form input[type=text]:not(:-moz-placeholder-shown) {
    text-shadow: 0 0 2px black;
  }
  .error .block-type-featuredArtist .go, .error .block.block-type-newsletter form input[type=email]:focus::placeholder, .error .block.block-type-newsletter form input[type=email]:not(:placeholder-shown)::placeholder,
  .error .block.block-type-newsletter form input[type=text]:focus::placeholder,
  .error .block.block-type-newsletter form input[type=text]:not(:placeholder-shown)::placeholder, .error .block.block-type-newsletter form input[type=email]:focus, .error .block.block-type-newsletter form input[type=email]:not(:placeholder-shown),
  .error .block.block-type-newsletter form input[type=text]:focus,
  .error .block.block-type-newsletter form input[type=text]:not(:placeholder-shown), .error .block.block-type-newsletter form fieldset .field.is-focused ~ .submit input::placeholder, .error .block.block-type-newsletter form .email:hover input::placeholder,
  .error .block.block-type-newsletter form .email:hover button::placeholder, .error .block.block-type-newsletter form fieldset .field.is-focused ~ .submit input, .error .block.block-type-newsletter form .email:hover input,
  .error .block.block-type-newsletter form .email:hover button, .error .block.block-type-text a::after, .error .block.block-type-text a {
    text-shadow: 0 0 2px black;
  }
}

.error.start-out * {
  transition: 500ms ease text-shadow;
  transition-delay: 1s;
  text-shadow: 0 0 0 transparent !important;
}

.error.start-out *::after {
  transition: 1s ease text-shadow;
  transition-delay: 2s;
  text-shadow: 0 0 0 transparent !important;
}

.home2.start-out nav,
.home2.start-out #checkout-button {
  position: fixed;
  top: calc(var(--nav-height) * -2);
  transition: 1s ease-out top;
  transition-delay: 11s;
}
.home2.start-out .hero .container-full {
  transition: 1s ease transform;
  transition-delay: 1s;
  transform: scale(200%);
}
.home2.start-out .hero .container-full h1 {
  transition: 1s ease-out transform;
  transition-delay: 1s;
  transform: scale(0);
}

nav {
  position: fixed;
  top: 0;
  transition: 450ms ease-out top;
  transition-delay: 9.5s;
}

#checkout-button {
  position: fixed;
  z-index: 99;
  transition: 450ms ease-out top, 450ms ease-out opacity;
  opacity: 1;
}
#checkout-button.empty {
  opacity: 0;
}

.home,
.error {
  text-wrap: pretty;
}
.home .button,
.error .button {
  line-height: 1;
  width: auto;
  margin: 0;
  color: transparent;
  border-radius: 0;
  background: var(--accent-shadow);
  box-shadow: 0 0 3px 3px var(--accent-shadow);
  text-shadow: 0 0 4px black;
}
.home .button::before,
.error .button::before {
  display: none;
}
.home .button::after,
.error .button::after {
  right: 0.5em;
  left: auto;
  display: block;
  width: auto;
  color: transparent;
  text-shadow: 0 0 4px black;
}
@media screen and (width <= 50em) {
  .home .button,
  .error .button {
    padding: 0.25em 0.5em;
  }
}
.home .button:hover,
.error .button:hover {
  color: transparent;
  border: 0;
  box-shadow: 0 0 100vh 30vh var(--accent-shadow);
  text-shadow: 0 0 4px black;
}
.home h1,
.home h2,
.home h3,
.home h4,
.home h5,
.home h6,
.error h1,
.error h2,
.error h3,
.error h4,
.error h5,
.error h6 {
  font-family: var(--secondary-font-stack);
  font-size: var(--base-font-size);
  font-weight: 900;
  line-height: 1;
  max-width: 70vw;
  margin: auto;
}
@media screen and (width <= 60rem) {
  .home h1,
  .home h2,
  .home h3,
  .home h4,
  .home h5,
  .home h6,
  .error h1,
  .error h2,
  .error h3,
  .error h4,
  .error h5,
  .error h6 {
    max-width: 95vw;
  }
}

/* Makes a fixed background wrapper
which the user cannot interact with */
.iframe-wrapper {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: var(--c-paynes);
  /* Make the iframe keep an aspect ratio, and
  position it in the middle of its parent wrapper */
}
.iframe-wrapper::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: " ";
  background: repeating-linear-gradient(90deg, black, transparent 1px, black 2px);
}
.iframe-wrapper iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  transform: translate(-50%, -50%);
}

.error .section-wrapper {
  --base-font-size: 60px;
  font-size: var(--base-font-size);
  position: relative;
  z-index: 0;
  width: 100%;
  min-height: 100vh;
  border: none;
  background: black;
  mix-blend-mode: hard-light;
  scroll-snap-align: start;
}
@media screen and (width <= 60em) {
  .error .section-wrapper {
    min-height: 100svh;
  }
}
@media screen and (width <= 500px) {
  .error .section-wrapper {
    --base-font-size: 10vw;
  }
}
@media screen and (height <= 400px) {
  .error .section-wrapper {
    --base-font-size: 5vw;
  }
}
.error .section-wrapper .content-wrapper {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  place-content: center;
  inset: 10px;
}
.error .section-wrapper.in-view {
  z-index: 9999;
}
.error .section-wrapper.in-view section {
  transition: 400ms ease-in-out;
  opacity: 1;
}
.error .section-wrapper section {
  transition: 400ms ease-in-out;
  opacity: 0;
}
.error .section-wrapper:first-child::before {
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 1.25rem;
  left: 0;
  content: "scroll";
  text-align: center;
}
.error .section-wrapper:first-child::after {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: microns;
  font-size: 1rem;
  position: absolute;
  z-index: 999;
  right: 0;
  bottom: 0.25rem;
  left: 0;
  content: "\e707";
  text-align: center;
}
.error .section-wrapper.ticker {
  font-size: 7vw;
  z-index: 9;
  box-shadow: 0 0 15px 15px var(--c-cobalt-800);
  mix-blend-mode: normal;
  --ticker-size: 1.25em;
  --ticker-font-size: 1em;
}
.error .section-wrapper.ticker section {
  height: auto;
  min-height: 0;
}
.error .section-wrapper.ticker section.grid .column {
  padding: 0.5rem;
  color: transparent;
  background: var(--c-cobalt-800);
}
.error .section-wrapper.ticker section.grid .column .blocks {
  font-weight: bold;
}
.error .section-wrapper.ticker section.grid .column .blocks .block {
  scroll-snap-align: start;
}

.error .block {
  position: relative;
  z-index: 9;
  box-sizing: border-box;
  border: none;
}
.error .block .overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.error .block .overlay form {
  z-index: 999999;
  visibility: hidden;
  height: calc(3em + 2rem);
  pointer-events: none;
  opacity: 0;
}
@media screen and (width <= 60em) {
  .error .block .overlay form {
    height: calc(3.75em + 2rem + 10px);
  }
}
.error .block .overlay form .email {
  display: none;
  visibility: hidden;
}
.error .block h1,
.error .block h2,
.error .block h3,
.error .block h4,
.error .block h5,
.error .block h6,
.error .block p,
.error .block div,
.error .block * {
  position: relative;
}
.error .block h1::after,
.error .block h2::after,
.error .block h3::after,
.error .block h4::after,
.error .block h5::after,
.error .block h6::after,
.error .block p::after,
.error .block div::after,
.error .block *::after {
  font-style: normal;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  content: attr(data-text);
  transition: 2.5s ease text-shadow;
  transition-delay: 1s;
  word-break: break-word;
  text-shadow: 0 0 0.5em var(--c-cobalt);
}
.error .block.block-type-markdown {
  padding: 2em;
}
@media screen and (width <= 50em) {
  .error .block.block-type-markdown {
    padding: 1em;
  }
}
.error .block.block-type-heading, .error .block.block-type-newsletter, .error .block.block-type-text, .error .block.block-type-markdown {
  font-weight: bold;
  margin: 0;
  padding: 1em;
  text-align: center;
  color: transparent;
}
@media screen and (width <= 60rem) {
  .error .block.block-type-heading, .error .block.block-type-newsletter, .error .block.block-type-text, .error .block.block-type-markdown {
    padding: 16px;
    -webkit-hyphens: auto;
            hyphens: auto;
  }
}
.error .block.block-type-heading a, .error .block.block-type-newsletter a, .error .block.block-type-text a, .error .block.block-type-markdown a {
  word-break: break-word;
  color: inherit;
}
.error .block.block-type-heading a:hover, .error .block.block-type-newsletter a:hover, .error .block.block-type-text a:hover, .error .block.block-type-markdown a:hover {
  color: inherit;
}
.error .block.block-type-text a {
  font-weight: bold;
  display: inline-block;
  padding: 0.25em 0.75em;
  padding-right: 2em;
  transition: box-shadow 300ms ease;
  text-decoration: none;
  border-radius: 5px;
  background: var(--c-gold);
  box-shadow: 0 0 5px 5px var(--c-gold);
}
.error .block.block-type-text a:hover {
  transition: box-shadow 300ms ease;
  box-shadow: 0 0 15px 20px var(--c-gold);
}
.error .block.block-type-text a::after {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: microns;
  position: absolute;
  z-index: 99;
  right: 0;
  left: auto;
  width: 1em;
  padding: 0.375em 0.25em 0.375em 0;
  content: "\e701";
  text-align: right;
}
.error .block.block-type-text a[href^="#"] {
  position: relative;
  padding: 0.25em;
}
.error .block.block-type-text a[href^="#"]::after {
  display: none;
}
.error .block.block-type-text p {
  font-size: 36px;
  line-height: 1 !important;
  margin-top: 1.5em;
}
@media screen and (width <= 60em) {
  .error .block.block-type-text p {
    font-size: 20px;
    line-height: 1.15 !important;
    word-break: normal;
    -webkit-hyphens: none;
            hyphens: none;
    text-shadow: 0 0 1px var(--shadow-color);
  }
}
.error .block.block-type-heading + .error .block.block-type-heading {
  width: 100%;
  padding: 0 1em;
}
.error .block.block-type-newsletter form {
  position: relative;
}
.error .block.block-type-newsletter form fieldset .field.is-empty.is-focused::after, .error .block.block-type-newsletter form .email:hover .field.is-empty::after {
  background: black;
  box-shadow: 0 0 3px 3px black, 0 0 10px 4px var(--c-cobalt);
}
.error .block.block-type-newsletter form .message {
  font-size: 0.5em;
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 0.5em;
  padding: 0.125em 0;
  color: transparent;
  text-shadow: 0 0 3px var(--shadow-color);
}
.error .block.block-type-newsletter form .message.success {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  place-content: center;
  margin: 0;
  border: none;
  background: transparent;
}
.error .block.block-type-newsletter form .message.error {
  top: 100%;
}
.error .block.block-type-newsletter form fieldset .field.is-focused ~ .submit input, .error .block.block-type-newsletter form .email:hover input,
.error .block.block-type-newsletter form .email:hover button {
  transition: 100ms ease;
  background: transparent;
  background: var(--shadow-color);
  box-shadow: 0 0 3px 3px var(--shadow-color), 0 0 15px 4px var(--c-cobalt);
}
.error .block.block-type-newsletter form .email {
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  background: black;
  box-shadow: 0 0 0 var(--shadow-color);
}
.error .block.block-type-newsletter form .email:hover {
  transition: 100ms ease;
}
.error .block.block-type-newsletter form fieldset {
  display: grid;
  grid-template-areas: "a c" "b c";
  grid-template-columns: 6fr 1fr;
  grid-gap: 6px;
  margin: 0;
  padding: 0;
  transition: opacity 200ms ease-out;
  opacity: 1;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media screen and (width <= 60rem) {
  .error .block.block-type-newsletter form fieldset {
    font-size: 40px;
    grid-template-areas: "a a" "b b" "c c";
  }
}
.error .block.block-type-newsletter form fieldset.disabled {
  transition: opacity 200ms ease-out;
  opacity: 0;
}
.error .block.block-type-newsletter form fieldset .field {
  min-width: 0;
  min-height: 0;
}
.error .block.block-type-newsletter form fieldset .field.name-input {
  grid-area: a;
}
.error .block.block-type-newsletter form fieldset .field.email-input {
  grid-area: b;
}
.error .block.block-type-newsletter form fieldset .field.submit {
  grid-area: c;
}
.error .block.block-type-newsletter form fieldset .field::after {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0.5em;
  width: 3px;
  height: 1em;
  content: " ";
  transform: translateY(-50%);
  opacity: 0;
  border-radius: 1px;
  background: var(--shadow-color);
  box-shadow: 0 0 3px 3px var(--shadow-color), 0 0 10px 4px var(--c-cobalt);
}
@media screen and (width <= 60em) {
  .error .block.block-type-newsletter form fieldset .field::after {
    top: 0.5em;
    height: 1.5em;
    transform: none;
  }
}
.error .block.block-type-newsletter form fieldset .field.is-empty::after {
  animation: 0.5s infinite alternate cursor;
}
@keyframes cursor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.error .block.block-type-newsletter form input {
  font-size: inherit;
  background: transparent;
}
.error .block.block-type-newsletter form input[type=email],
.error .block.block-type-newsletter form input[type=text] {
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em;
  transition: 100ms ease;
  border: none;
  border-radius: 0;
  outline: none;
}
@media screen and (width <= 60em) {
  .error .block.block-type-newsletter form input[type=email],
  .error .block.block-type-newsletter form input[type=text] {
    font-size: 0.75em;
    padding: 1em;
  }
}
.error .block.block-type-newsletter form input[type=email]:not(:-moz-placeholder-shown), .error .block.block-type-newsletter form input[type=text]:not(:-moz-placeholder-shown) {
  -moz-transition: 100ms ease;
  transition: 100ms ease;
  background: var(--shadow-color);
  box-shadow: 0 0 3px 3px var(--shadow-color), 0 0 15px 4px var(--c-cobalt);
}
.error .block.block-type-newsletter form input[type=email]:focus, .error .block.block-type-newsletter form input[type=email]:not(:placeholder-shown),
.error .block.block-type-newsletter form input[type=text]:focus,
.error .block.block-type-newsletter form input[type=text]:not(:placeholder-shown) {
  transition: 100ms ease;
  background: var(--shadow-color);
  box-shadow: 0 0 3px 3px var(--shadow-color), 0 0 15px 4px var(--c-cobalt);
}
.error .block.block-type-newsletter form button[type=submit] {
  font-family: inherit;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  display: block;
  width: 200%;
  height: 100%;
  margin: 0;
  padding: 1em 0.5em;
  cursor: pointer;
  transform: scaleX(50%);
  transform-origin: right;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}
.error .block.block-type-newsletter form button[type=submit]::before {
  display: none;
}
@media screen and (width <= 60em) {
  .error .block.block-type-newsletter form button[type=submit] {
    font-size: 0.75em;
    position: relative;
    width: 50%;
    margin-top: 10px;
    padding: 0.5em;
    transform: scale(200%, 75%);
    transform-origin: top left;
  }
}
.error .block h1,
.error .block h2,
.error .block h3,
.error .block h4,
.error .block h5,
.error .block h6 {
  line-height: 1;
  text-transform: uppercase;
}

.error .header {
  font-size: 0;
  text-align: center;
}
.error .header h1 {
  font-size: calc(var(--base-line-height) * 4);
  display: block;
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: -1px;
  word-spacing: 0;
  text-shadow: 0 0 6px var(--shadow-color);
}
.error .header h1::after {
  display: none;
  content: "";
}
.error .header h1 span {
  display: inline-block;
}
.error .header h1 span:first-child {
  z-index: 99;
  transform: scale(255%, 105%);
  transform-origin: left;
  letter-spacing: -3px;
}
.error .header h1 span:last-child {
  transform: scale(55%, 100%);
  transform-origin: right;
}
@media screen and (width <= 60em) {
  .error .header h1 {
    font-size: 14vw;
    text-shadow: 0 0 4px var(--shadow-color);
  }
}
.error .header .blocks {
  display: contents;
}

.error h3.top-text,
.error h3.bottom-text {
  font-size: 2em;
  line-height: 0.8;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: left;
}

.error h3.bottom-text {
  inset: auto 0 0 auto;
  text-align: right;
}

/* stylelint-disable-next-line selector-class-pattern */
.error .block-type-featuredArtist {
  height: 100vh;
  text-align: center;
}
.error .block-type-featuredArtist figure {
  display: contents;
}
.error .block-type-featuredArtist picture {
  display: contents;
}
.error .block-type-featuredArtist img {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  margin: 0;
  transform: translate(-50%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
}
.error .block-type-featuredArtist .go {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: microns;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  top: calc(50% - 0.5em);
  right: 0.5em;
  display: block;
  width: 2em;
  height: 1em;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.9;
  border-radius: 50%;
  background: var(--c-paper);
  box-shadow: 0 0 10px 10px var(--c-paper);
}

.error .feature-link {
  display: contents;
}

.hero {
  position: relative;
  z-index: 999;
  width: 100vw;
  height: calc(100vh - var(--nav-height) - 2 * var(--base-line-height));
  margin-top: var(--nav-height);
  background: black;
}
.hero .container-full {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 5s ease-out transform;
  transition-delay: 3s;
  transform: scale(80%);
  clip-path: url("#squircle");
}
.hero .container-full .iframe-wrapper {
  position: absolute;
}
.hero .container-full .header {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 100%;
  height: 100%;
  inset: 0;
  mix-blend-mode: hard-light;
}
.hero .container-full .header h1 {
  font-family: var(--secondary-font-stack);
  font-size: 10vw;
  font-weight: 900;
  width: 100vw;
  transition: 2s ease-out transform;
  transition-delay: 2s;
  transform: scale(100%);
  text-align: center;
}
.hero .container-full .header h1 span {
  display: inline-block;
}
.hero .container-full .header h1 span:first-child {
  z-index: 99;
  transform: scale(255%, 105%);
  transform-origin: left;
  letter-spacing: -3px;
}
.hero .container-full .header h1 span:last-child {
  transform: scale(55%, 100%);
  transform-origin: right;
}

/*# sourceMappingURL=home.css.map */