:root {
  --input-radius: 5px;
  --c-benibana: #ff99a1;
  --c-benibana-100: #fff0f1;
  --c-benibana-200: #ffe6e8;
  --c-benibana-300: #ffccd0;
  --c-benibana-400: #ffb3b9;
  --c-benibana-500: #ff99a1;
  --c-benibana-600: #ff808a;
  --c-benibana-700: #ff6672;
  --c-benibana-800: #ff4d5b;
  --c-benibana-900: #ff3343;
  --c-gold: #fcdf39;
  --c-gold-100: #fded8e;
  --c-gold-200: #fdeb84;
  --c-gold-300: #fde76b;
  --c-gold-400: #fce352;
  --c-gold-500: #fcdf39;
  --c-gold-600: #fcdb20;
  --c-gold-700: #fbd707;
  --c-gold-800: #e5c303;
  --c-gold-900: #ccae03;
  --c-cobalt: blue;
  --c-cobalt-100: #ccccff;
  --c-cobalt-200: #9999ff;
  --c-cobalt-300: #6666ff;
  --c-cobalt-400: #3333ff;
  --c-cobalt-500: blue;
  --c-cobalt-600: #0000cc;
  --c-cobalt-700: #000099;
  --c-cobalt-800: #000066;
  --c-cobalt-900: #000033;
  --c-cobalt-light: #73b4db;
  --c-cinnabar: #b82b2b;
  --c-cinnabar-100: #f0bfbf;
  --c-cinnabar-200: #e69696;
  --c-cinnabar-300: #dd6c6c;
  --c-cinnabar-400: #d34343;
  --c-cinnabar-500: #b82b2b;
  --c-cinnabar-600: #8f2121;
  --c-cinnabar-700: #651818;
  --c-cinnabar-800: #3c0e0e;
  --c-cinnabar-900: #130404;
  --c-paper: #e5e1de;
  --c-paper-100: #eeebe9;
  --c-paper-200: #ece9e7;
  --c-paper-300: #e5e1de;
  --c-paper-400: #dcd7d3;
  --c-paper-500: #d3ccc7;
  --c-paper-600: #cac2bc;
  --c-paper-700: #c1b8b0;
  --c-paper-800: #b8ada5;
  --c-paper-900: #afa39a;
  --c-paynes: #4e5147;
  --c-paynes-100: #b4b7ad;
  --c-paynes-200: #9b9f92;
  --c-paynes-300: #828777;
  --c-paynes-400: #686c5f;
  --c-paynes-500: #4e5147;
  --c-paynes-600: #34362f;
  --c-paynes-700: #1a1b17;
  --c-paynes-800: black;
  --c-paynes-900: black;
  --c-violet: #4c12a8;
  --c-violet-100: #b893f3;
  --c-violet-200: #9a65ee;
  --c-violet-300: #7c36ea;
  --c-violet-400: #6117d6;
  --c-violet-500: #4c12a8;
  --c-violet-600: #370d7a;
  --c-violet-700: #22084c;
  --c-violet-800: #0d031e;
  --c-violet-900: black;
  --c-vert: green;
  --c-vert-100: #00d700;
  --c-vert-200: #00cd00;
  --c-vert-300: #00b300;
  --c-vert-400: #009a00;
  --c-vert-500: green;
  --c-vert-600: #006700;
  --c-vert-700: #004d00;
  --c-vert-800: #003400;
  --c-vert-900: #001a00;
  --border-color: var(--c-cobalt);
  --text-color: var(--c-cobalt);
  --nav-height: calc(var(--base-line-height) * 2);
}

.wrapper .accordion section.grid .block-type-heading, .contrast-text {
  --contrast-text-color: var(--c-cobalt);
  --contrast-shadow-color: var(--c-benibana-600);
  font-family: var(--secondary-font-stack);
  background: var(--c-paper);
  mix-blend-mode: multiply;
  filter: contrast(30);
}
.wrapper .accordion section.grid .block-type-heading *, .contrast-text * {
  position: relative;
  box-sizing: border-box;
  padding: 0.1em 0;
  padding-left: 0.25rem;
  letter-spacing: -1px;
  color: transparent;
  text-shadow: 0 0 0.05em var(--contrast-text-color);
}
.wrapper .accordion section.grid .block-type-heading > *, .contrast-text > * {
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  position: relative;
  width: 100%;
}
@media screen and (width <= 40em) {
  .wrapper .accordion section.grid .block-type-heading > *, .contrast-text > * {
    font-size: 2.5em;
    letter-spacing: 0;
    -webkit-hyphens: none;
            hyphens: none;
  }
}

.wrapper .accordion {
  --accordion-bg: var(--c-paper);
  --accordion-tc: var(--c-cobalt);
  --offset-height: 1.75rem;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0;
  padding: 2px 0;
  color: var(--accordion-text-color);
}
.wrapper .accordion + .accordion {
  margin-top: 0;
  margin-bottom: 0;
}
.wrapper .accordion.last {
  margin-bottom: var(--base-line-height);
}
.wrapper .accordion h1, .wrapper .accordion h2, .wrapper .accordion h3, .wrapper .accordion h4, .wrapper .accordion h5, .wrapper .accordion h6, .wrapper .accordion p {
  color: var(--accordion-text-color);
}
.wrapper .accordion .blocks .block {
  margin: auto;
}
.wrapper .accordion section.grid {
  line-height: 1;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  max-width: calc(var(--max-content-width) - var(--base-line-height) * 2);
  max-height: calc(var(--offset-height) + 2 * var(--base-line-height));
  margin: 0 auto;
  transition: max-height ease 100ms;
}
.wrapper .accordion section.grid.active {
  max-height: calc(var(--section-height) + 2 * var(--base-line-height));
  transition: max-height ease 100ms;
}
.wrapper .accordion section.grid.active::after {
  transition: transform ease 200ms;
  transform: rotate(-90deg);
}
.wrapper .accordion section.grid::after, .wrapper .accordion section.grid::before {
  --plus-stroke: 3px;
  position: absolute;
  top: var(--base-line-height);
  right: var(--base-line-height);
  display: block;
  width: 2em;
  height: 2em;
  content: " ";
  border-radius: var(--plus-stroke);
  background: var(--accordion-text-color);
}
.wrapper .accordion section.grid::after {
  right: calc(var(--base-line-height) + 1em - var(--plus-stroke) / 2);
  width: var(--plus-stroke);
  transition: transform ease 200ms;
  transform: rotate(0);
}
.wrapper .accordion section.grid::before {
  top: calc(var(--base-line-height) + 1em - var(--plus-stroke) / 2);
  height: var(--plus-stroke);
}
@media screen and (width <= 60em) {
  .wrapper .accordion section.grid {
    padding: var(--base-line-height);
    background: var(--accordion-bg);
  }
}
.wrapper .accordion section.grid .column {
  margin: 0;
  padding: var(--base-line-height);
  border-right: 0;
  background: var(--accordion-bg);
}
@media screen and (width <= 60em) {
  .wrapper .accordion section.grid .column {
    margin-bottom: var(--base-line-height);
    padding: 0;
  }
  .wrapper .accordion section.grid .column:last-child {
    margin: 0;
  }
}
.wrapper .accordion section.grid .block {
  margin: 0;
}
.wrapper .accordion section.grid .block-type-heading {
  --contrast-text-color: var(--accordion-text-color);
  z-index: 99;
  display: grid;
  align-items: center;
  box-sizing: border-box;
  max-width: none;
  min-height: 2rem;
  margin-bottom: var(--base-line-height);
  margin-left: -10px;
  padding: 0 0.25rem;
  padding-right: 2rem;
  cursor: pointer;
}
.wrapper .accordion section.grid .block-type-heading h1 {
  font-size: 1.75rem;
}
.wrapper .accordion section.grid .block-type-heading h2 {
  font-size: 1.75rem;
}
.wrapper .accordion section.grid .block-type-heading h3 {
  font-size: 1.75rem;
}
.wrapper .accordion section.grid .block-type-heading h4, .wrapper .accordion section.grid .block-type-heading h5, .wrapper .accordion section.grid .block-type-heading h6 {
  font-size: 1.5rem;
}

.ticker {
  --duration: 20s;
  --ticker-font-size: 1rem;
  --ticker-size: 1.5rem;
  --background: var(--c-paper);
  --ticker-text: var(--c-paper);
  border-bottom: 0;
  filter: contrast(10);
}
.ticker.bigger {
  --ticker-font-size: 2.66rem;
  --ticker-size: 3rem;
}
@keyframes ticker {
  0% {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@media screen and (width <= 60rem) {
  .ticker section.grid .column,
  .ticker section.grid .column:last-child {
    display: block;
    margin: 0;
    padding: 0.5em 0;
  }
}
.ticker section.grid {
  overflow: hidden;
  width: 100%;
  max-width: none;
}
.ticker section.grid .column {
  overflow: hidden;
  box-sizing: content-box;
  width: 100%;
  height: var(--ticker-size);
  padding: calc(var(--base-line-height) / 2) 0;
  padding-left: 100%;
  background-color: var(--background);
}
.ticker section.grid .column .blocks {
  display: inline-block;
  box-sizing: content-box;
  height: var(--ticker-size);
  padding-right: 100%;
  animation-name: ticker;
  animation-duration: var(--duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  white-space: nowrap;
}
.ticker section.grid .column .blocks:hover {
  animation-play-state: paused;
}
.ticker section.grid .column .blocks * {
  font-family: var(--primary-font-family);
  font-size: var(--ticker-font-size);
  font-weight: bold;
  line-height: var(--ticker-size);
  display: inline;
  width: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  color: transparent;
  text-shadow: 0 0 0.05em var(--ticker-text);
}
.ticker section.grid .column .blocks > *::after {
  font-size: var(--ticker-size);
  margin: 0 calc(2 * var(--base-line-height));
  margin-top: 2px;
  content: "/";
  vertical-align: bottom;
  text-shadow: 0 0 3px var(--ticker-text);
}
.ticker section.grid .column .blocks > *:last-child::after {
  display: none;
  visibility: hidden;
}

.merch-wrap {
  max-width: 70em;
  margin: 0 auto;
  padding: var(--base-line-height);
}

.merch-collection-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--base-line-height);
  margin: var(--base-line-height) auto;
}

.merch-collection-item {
  padding: calc(var(--base-line-height) / 2);
  border: 1px solid var(--c-paper-500);
}
.merch-collection-item a, .merch-collection-item a:hover {
  text-decoration: none;
  color: inherit;
}
.merch-collection-item .merch-collection-item-image {
  background-color: var(--c-paper-100);
}
.merch-collection-item .merch-collection-item-image img {
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
  width: 100%;
}
.merch-collection-item .merch-collection-item-info {
  display: grid;
  grid-template-columns: 1fr 4rem;
  padding-top: var(--base-line-height);
}
.merch-collection-item .merch-collection-item-name {
  font-weight: bold;
  color: var(--c-paynes);
}
.merch-collection-item .merch-collection-item-price {
  text-align: right;
}

/*# sourceMappingURL=merch-collection.css.map */