@use "nw-type" as t with (

// Font Family
$font-family: ('roc-grotesk', sans-serif),
$font-mono: (courier new, courier, mono),

// Base ratios
$typescale: 1.4,

// Base Font for HTML
$base-font-size: 20px,
$base-line-height: 35px,


// Paragraph Styles
$paragraph-size: 1rem,
$paragraph-line-height: default,
$paragraph-margin: default,

// hr
$hr-margin: default,

// Type Misc
$font-weight-bold: 800,

);
@forward "nw-type";