@use "sass:color";
@use "variables" as v;

nav {
    position: fixed;
    top: 0.5em;
    right: 25%;
    left: 25%;

    margin: auto;
    padding: 0.125rem 0.5rem;

    text-align: center;

    color: v.$mars;

    background: color.adjust(v.$paynes, $alpha: -0.2, $lightness: 60%);
    backdrop-filter: blur(10px);
}